<h4>Datos de la Ficha</h4>
<hr>

<div class="row">
	<%= fich.input :p, label: 'P', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :a, label: 'A', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :pc1, label: 'PC', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :pt1, label: 'PT', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :pa, label: 'PA', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>
</div>
<div class="row">
	<%= fich.input :control, label: 'Control Cefálico - Control de Tronco - Equilibrio - Marcha', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC250} %>
</div>

<h4>Antecedentes Gestacionales y Obstétricos</h4>
<hr>
<div class="row">
	<%= fich.input :gestacion, label: 'Gestación', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC100} %>

	<%= fich.input :paridad, label: 'Paridad', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC100} %>

	<%= fich.input :abortos, label: 'Abortos', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC100} %>

	<%= fich.input :nacidos_muertos, label: 'Nacidos Muertos', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC100} %>
</div>

<div class="row">
	<%= fich.input :partos_anteriores, label: 'Gestaciones y Partos Anteriores', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC100} %>
</div>

<div class="row">
	<%= fich.input :gru_san_paciente, label: 'G. Sanguíneo', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :rh_paciente, label: 'Rh', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :coombs, label: 'Coombs', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :gru_san_padre, label: 'Padre G. Sanguíneo', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :rh_padre, label: 'Rh', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>
</div>

<h4>Gestación Actual</h4>
<hr>

<div class="row">
	<%= fich.input :fum, label: 'F.U.M', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :fp, label: 'FP', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :duracion, label: 'Duración', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :riesgos, label: 'Riesgos', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<h4>Observaciones</h4>
<hr>

<div class="row">
	<%= fich.input :tipo_parto, label: 'Tipo de Parto', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :anestesia, label: 'Anestesia', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :analgesia, label: 'Analgesia', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :neonatal_cianosis, label: 'Neonatal:Cianosis', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :ictericia_antes, label: 'Ictericia Antes 72 Hs', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :ictericia_despues, label: 'Después 72 Hs', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :apgar, label: 'APGAR', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :peso1, label: 'Peso', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :talla1, label: 'Talla', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :pc2, label: 'PC', wrapper_html: { class: 'col-md-1'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :tp, label: 'TP', wrapper_html: { class: 'col-md-1'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :fontanela, label: 'Fontanela', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :dubowitz, label: 'Dubowitz', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :parkin, label: 'Parkin', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :gru_san2, label: 'Grupo Sang.', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

	<%= fich.input :rh2, label: 'Rh', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>
</div>

<h4>Observaciones</h4>
<hr>

<div class="row">
	<%= fich.input :medicacion, label: 'Medicación', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :ccu, label: 'CCU', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :tiempo_internacion, label: 'Tiempo de Internación', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :alta, label: 'Alta', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :peso2, label: 'Peso', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :talla2, label: 'Talla', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :pb, label: 'PB', wrapper_html: { class: 'col-md-1'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :pt1, label: 'PT', wrapper_html: { class: 'col-md-1'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<h5>Alimentación:</h5>

<div class="row">
	<%= fich.input :alimentacion_natural, label: 'Natural', wrapper_html: { class: 'col-md-9'}, input_html: { maxLength: Domain::DESC100} %>

	<%= fich.input :duracion, label: 'Duración', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :alimentacion_artificial, label: 'Artificial', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC100} %>
</div>

<div class="row">
	<%= fich.input :bcg, label: 'BCG', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :antisarampionosa, label: 'Antisarampionosa', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :antigripal, label: 'Antigripal', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :mmr, label: 'MMR', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :dpt, label: 'DPT', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt1, label: '1º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt2, label: '2º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt3, label: '3º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt_ref1, label: 'Ref. 1º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt_ref2, label: 'Ref. 2º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt_ref3, label: 'Ref. 3º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :dpt_ref4, label: 'Ref. 4º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>
</div>

<div class="row">
	<%= fich.input :sabin, label: 'SABIN', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin1, label: '1º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin2, label: '2º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin3, label: '3º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin_ref1, label: 'Ref. 1º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin_ref2, label: 'Ref. 2º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin_ref3, label: 'Ref. 3º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>

	<%= fich.input :sabin_ref4, label: 'Ref. 4º', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC20} %>
</div>

<div class="row">
	<%= fich.input :otras, label: 'Otras', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :app, label: 'A.P.P.', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :apf, label: 'A.P.F.', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :edad_mental, label: 'Edad Mental', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :epl, label: 'E.P.L.', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :dpm, label: 'D.P.M.', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :tto_ant, label: 'TTO. ANT.', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>
</div>

<div class="row">
	<%= fich.input :sosten_cefalico, label: 'Sosten Cefálico', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :sedentacion, label: 'Sedentación', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>

	<%= fich.input :mancha, label: 'Mancha', wrapper_html: { class: 'col-md-4'}, input_html: { maxLength: Domain::DESC50} %>
</div>

