<div class="form-content form-ficha">
    <div class="page-title page-title-ficha">
      Ficha de <%= @fonoaudiologica.paciente.persona.nombre%> <%= @fonoaudiologica.paciente.persona.apellido%>
      <div class="tool">
	       <%= link_to '<i class="fa fa-list"></i> '.html_safe, fichas_fonoaudiologicas_path %> 
	       <%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_ficha_fonoaudiologica_path, remote: true%> 
	      
	       <%= link_to '<i class="fa fa-edit"></i> '.html_safe, edit_ficha_fonoaudiologica_path(@fonoaudiologica.id), remote:true%>
	            <%= link_to '<i class="fa fa-print"></i> '.html_safe, fichas_fonoaudiologicas_print_ficha_path(ficha_id: @fonoaudiologica.id, :format => :pdf), target: '_blank'%> 
      </div>
    </div>
    <%= form_for @fonoaudiologica, html: {class: 'nueva-ficha form-ficha', :multipart => true }, remote: true do |ficha|%>
    	<%= hidden_field_tag :id, @fonoaudiologica.id %>
	      <h3 align="center">FICHA DE FONOAUDIOLOGIA</h3></br>
	      <div class="row">
          <div class="col-md-9">
          	<h4><%= ficha.label :doctor_id, 'Profesional de la Salud: ' %> <%= @fonoaudiologica.doctor.persona.nombre%> <%= @fonoaudiologica.doctor.persona.apellido%> </h4>
          </div>
          <div class="col-md-3">
            <h4><%= ficha.label :fecha, 'Fecha: ' %> <%= @fonoaudiologica.fecha%> </h4>
          </div>
        </div>
        </br>
		<h4>Datos del Paciente</h4><hr>

		<div class ="paciente_data">
	    	<div class="row">
		    	<%= FormBuilder::text_field_v(ficha, :paciente_id,
					      							  input_class: 'paciente-nombre', 
				                                      col_class: 'col-md-4',
				                                      disabled: true,
				                                      input_value:@fonoaudiologica.paciente.persona.nombre,
				                                      label_text: '* Nombres') %>

		        <%= FormBuilder::text_field_v(ficha, :paciente_id,
		  											  input_class: 'paciente-apellido',
				                                      col_class: 'col-md-4',
				                                      disabled: true,
				                                      input_value:@fonoaudiologica.paciente.persona.apellido,
				                                      label_text: '* Apellidos') %>

		        <%= FormBuilder::text_field_v(ficha, :paciente_id,
					 								  input_class: 'paciente-fecha',
				                                      col_class: 'col-md-2',
				                                      disabled: true,
				                                      input_value:@fonoaudiologica.paciente.persona.fecha_nacimiento,
				                                      label_text: '* Fecha de Nac.') %>

		        <%= FormBuilder::text_field_v(ficha, :paciente_id,
													  input_class: 'paciente-edad',
				                                      col_class: 'col-md-2',
				                                      disabled: true,
				                                      input_value:@fonoaudiologica.paciente.persona.edad,
				                                      label_text: 'Edad') %>
			</div>
			<div class="row">

		        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
			                                         col_class: 'col-md-3',
			                                         disabled: true,
			                                         input_value:@fonoaudiologica.paciente.persona.sexo,
			                                         label_text: '* Sexo') %>

		        <%= FormBuilder::text_field_v(ficha, :paciente_id,
													input_class: 'paciente-dir', 
			                                        col_class: 'col-md-6',
			                                        disabled: true,
			                                        input_value:@fonoaudiologica.paciente.persona.direccion,
			                                        label_text: 'Dirección') %> 

		        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
			                                        input_class: 'paciente-tel',
			                                        col_class: 'col-md-3',
			                                        disabled: true,
			                                        input_value:@fonoaudiologica.paciente.persona.telefono,
			                                        label_text: 'Teléfono') %>
  			</div>
	    </div></br>
     	<h4>Datos de los Padres o Encargados</h4><hr>
     	<%if @fonoaudiologica.paciente.encargado.nil? %>
	      	<div class="encargado_data">
		      	<div class="row">
			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
							                              col_class: 'col-md-5',
							                              disabled: true,
							                              input_value:'',
							                              label_text: 'Nombre del Padre') %> 

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
					                                      col_class: 'col-md-2',
					                                      disabled: true,
					                                      input_value:'',
					                                      label_text: 'Edad') %>

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
					                                      col_class: 'col-md-5',
					                                      disabled: true,
					                                      input_value:'',
					                                      label_text: 'Profesión Actual y Anterior') %>
		   		</div>
		  		<div class="row">
			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
				                                          col_class: 'col-md-4',
				                                          disabled: true,
				                                          input_value:'',
				                                          label_text: 'Nombre de la Madre') %>

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
				                                          col_class: 'col-md-2',
				                                          disabled: true,
				                                          input_value:'',
				                                          label_text: 'Edad') %>

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
				                                          col_class: 'col-md-2',
				                                          disabled: true,
				                                          input_value:'',
				                                          label_text: 'Nro de Hijos') %>

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
				                                          col_class: 'col-md-4',
				                                          disabled: true,
				                                          input_value:'',
				                                          label_text: 'Profesión Actual y Anterior') %>       
		  		</div>
		      	<div class="row">
			        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
					                                      col_class: 'col-md-5',
					                                      disabled: true,
					                                      input_value:'',
					                                      label_text: 'Nombre del Encargado') %> 

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
					                                      col_class: 'col-md-2',
					                                      disabled: true,
					                                      input_value:'',
					                                      label_text: 'Edad') %>

			        <%= FormBuilder::text_field_v(ficha, :paciente_id,
					                                      col_class: 'col-md-5',
					                                      disabled: true,
					                                      input_value:'',
					                                      label_text: 'Profesión Actual y Anterior') %>
				</div>
		    </div>
	  	<%else%>
		    <% @paciente= @fonoaudiologica.paciente%>
		    <%= render 'encargado_form' %>
    	<%end%>
        <h4>Datos de la Ficha</h4><hr>
  		<div class="row">
	        <%= FormBuilder::text_field_v(ficha, :escolaridad, 
			                                      max_length: Domain::ESCOLARIDAD,
			                                      col_class: 'col-md-6',
			                                      disabled: true,
			                                      label_text: 'Grado que Cursa') %> 

	        <%= FormBuilder::text_field_v(ficha, :escuela,
			                                      max_length: Domain::ESCUELA,
			                                      col_class: 'col-md-6',
			                                      disabled: true,
			                                      label_text: 'Escuela') %>
        </div>   
    <%end%>
</div>
<script type="text/javascript"> 
  fonoaudiologicasUI.initScript();

  <% if !flash.notice.blank? %> 
    var n = noty({text: '<%=notice%>', type: 'success'});   
  <% end %>
  
  <% if !flash.alert.blank?%> 
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>

</script>