<div id= "principal-content-control">
  <%= render 'form_data', paciente: paciente, area:area, control:control, doctores:doctores%>
</div>

<div class= "content content-control">

    <div id="advanced-special">

         <%= search_form_for @search, url: search_controles_path(area_id: params[:area_id], paciente: params[:paciente]), method: :post, remote: true, class: 'form-filtros' do |f| %>
            <div class="row">
              <div class= "col-xs-5">
                <h4>Lista de Controles</h4>
              </div>

              <%= FormBuilder::text_field_v(f, :fecha_gteq, {col_class: 'col-xs-2', label_text: 'Desde', input_class: 'datepicker',max_length: Domain::FECHA})%>

              <%= FormBuilder::text_field_v(f, :fecha_lteq, {col_class: 'col-xs-2', label_text: 'Hasta', input_class: 'datepicker',max_length: Domain::FECHA})%>

              <div class= "advanced-search-buttons">
               <%= f.submit 'Filtrar', class: 'btn btn-custom '%>
               <%= f.submit 'Limpiar Campos', type: 'reset', class: 'btn btn-link'%>

             </div>
           </div>
           <% end %>

     </div>
     <div class= "list-content">

      <div id="list">
       <%= render 'list', controles: controles %>
     </div>

     <div id="list-paginate">
       <%= paginate controles, remote: true %>
     </div>
   </div>
 </div>
