<div class="row">
   <%= data('Nombre(s) y Apellido(s)', paciente.persona_full_name,'col-xs-5') %>
   <%= data('CI', paciente.persona_ci,'col-xs-2') %>
   <%= data('Edad', paciente.persona_edad,'col-xs-1') %>
   <%= data('Sexo', paciente.persona_sexo,'col-xs-2') %>
   <%= data('Fecha de Ingreso', date(paciente.fecha_ingreso),'col-xs-2') %>
</div>
