<h4>Datos del Paciente</h4>
<hr>
<%= simple_fields_for :paciente do |p| %>
    <div class="row">
      <%= p.input :nombre, as: :string, label: 'Nombres', wrapper_html: { class: 'col-xs-4'}, input_html: {value: paciente.persona_nombre, disabled: true}, required: false %>

      <%= p.input :apellido, as: :string, label: 'Apellidos', wrapper_html: { class: 'col-xs-4'}, input_html: {value: paciente.persona_apellido, disabled: true}, required: false %>

      <%= p.input :fecha_nacimiento, as: :string, label: 'Fecha de Nac.', wrapper_html: { class: 'col-xs-2'}, input_html: {value: Formatter.format_date(paciente.persona_fecha_nacimiento), disabled: true}, required: false %>

      <%= p.input :edad, as: :string, wrapper_html: { class: 'col-xs-2'}, input_html: {value: paciente.persona_edad, disabled: true}, required: false %>

    </div>
    <div class="row">
      <%= p.input :sexo, as: :string, wrapper_html: { class: 'col-xs-3'}, input_html: {value: paciente.persona_sexo, disabled: true}, required: false %>

      <%= p.input :apellido, as: :string, label: 'Dirección', wrapper_html: { class: 'col-xs-6'}, input_html: {value: paciente.persona_direccion, disabled: true}, required: false %>

      <%= p.input :telefono, as: :string, wrapper_html: { class: 'col-xs-3'}, input_html: {value: paciente.persona_telefono, disabled: true}, required: false %>
    </div>
<% end %>
<div id="encargado-data">
    <%= render 'fichas_psicopedagogicas/form_encargado', paciente: paciente%>
</div>