<h4 class="ficha-title">FICHA PSICOPEDAGOGIA</h4>

<h4>Datos Personales</h4>
<hr>

<div class="row">
	<div class="form-group col-md-6">
		<label class="control-label">Nombres y Apellidos</label>
		<div class="data"> <%=@ficha.paciente_persona_full_name%> </div>
	</div>

	<div class="form-group col-md-3">
		<label class="control-label">Fecha de Nac.</label>
		<div class="data"> <%=Formatter.format_date(@ficha.paciente_persona_fecha_nacimiento)%> </div>
	</div>

	<div class="form-group col-md-3">
		<label class="control-label">Edad</label>
		<div class="data"> <%=@ficha.paciente_persona_edad%> </div>
	</div>
</div>
<div class="row">

	<div class="form-group col-md-3">
		<label class="control-label">Sexo</label>
		<div class="data"> <%=@ficha.paciente_persona_sexo%> </div>
	</div>

	<div class="form-group col-md-6">
		<label class="control-label">Dirección</label>
		<div class="data"> <%=@ficha.paciente_persona_direccion%> </div>
	</div>

	<div class="form-group col-md-3">
		<label class="control-label">Teléfono</label>
		<div class="data"> <%=@ficha.paciente_persona_telefono%> </div>
	</div>

</div>
<h4>Datos de los Padres o Encargados</h4>
<hr>
<div class="row">

	<div class="form-group col-md-5">
		<label class="control-label">Nombre del Padre</label>
		<div class="data"> <%=@ficha.paciente_encargado_padre_nombre%> </div>
	</div>

	<div class="form-group col-md-1">
		<label class="control-label">Edad</label>
		<div class="data"> <%=@ficha.paciente_encargado_padre_edad%> </div>
	</div>

	<div class="form-group col-md-6">
		<label class="control-label">Profesión Actual y Anterior</label>
		<div class="data"> <%=@ficha.paciente_encargado_padre_prof_act_ant%> </div>
	</div>

</div>
<div class="row">

	<div class="form-group col-md-5">
		<label class="control-label">Nombre de la Madre</label>
		<div class="data"> <%=@ficha.paciente_encargado_madre_nombre%> </div>
	</div>

	<div class="form-group col-md-1">
		<label class="control-label">Edad</label>
		<div class="data"> <%=@ficha.paciente_encargado_madre_edad%> </div>
	</div>
	<div class="form-group col-md-1">
		<label class="control-label">Hijos</label>
		<div class="data"> <%=@ficha.paciente_encargado_madre_num_hijos%> </div>
	</div>

	<div class="form-group col-md-5">
		<label class="control-label">Profesión Actual y Anterior</label>
		<div class="data"> <%=@ficha.paciente_encargado_madre_prof_act_ant%> </div>
	</div>

</div>
<div class="row">

	<div class="form-group col-md-5">
		<label class="control-label">Nombre del Encargado</label>
		<div class="data"> <%=@ficha.paciente_encargado_encargado_nombre%> </div>
	</div>

	<div class="form-group col-md-1">
		<label class="control-label">Edad</label>
		<div class="data"> <%=@ficha.paciente_encargado_encargado_edad%> </div>
	</div>

	<div class="form-group col-md-6">
		<label class="control-label">Profesión Actual y Anterior</label>
		<div class="data"> <%=@ficha.paciente_encargado_encargado_prof_act_ant%> </div>
	</div>

</div>

<h4>Datos de la Ficha</h4>
<hr>

<div class="row">
	<div class="form-group col-md-6">
		<label class="control-label">Grado que cursa</label>
		<div class="data"> <%=@ficha.escolaridad%> </div>
	</div>

	<div class="form-group col-md-6">
		<label class="control-label">Escuela</label>
		<div class="data"> <%=@ficha.escuela%> </div>
	</div>
</div>


