<% @submenu_layout = 'layouts/submenu_configuracion' %>
<% @sidebar_layout = 'layouts/sidebar_configuracion' %>

<div class="page-title page-title-con-sidebar">
   Configuración del Sistema
</div>
<div class="content content-70">
<div class= "form-content">

	<%= form_for @configuracion, html: {class: 'nueva-conf'} do |configuracion|%>

	    <h4>Datos de la Empresa</h4><hr>
	    <div class="row">
	    <div class="col-md-8">
	    	<div class=" row nomb-empresa">
	    		<%= FormBuilder::text_field_v(configuracion, :empresa_nombre,
										                    input_class: 'required minLength3',
										              		max_length: Domain::EMPRESA_NOMBRE,
										                    autofocus: true,
										                    col_class: 'col-md-5',
										                    label_text: '* Nombre' ) %>

				<%= FormBuilder::text_field_v(configuracion, :empresa_web,
										                    max_length: Domain::EMPRESA_WEB,
										                    autofocus: false,
										                    col_class: 'col-md-7',
										                    label_text: 'Sitio web') %>
	    	</div>
	    	<div>
	    		<%= FormBuilder::text_field_v(configuracion, :empresa_direccion,
										                    input_class: 'required',
										                    max_length: Domain::DIRECCION,
										                    autofocus: false,
										                    col_class: 'col-md-15',
									                        label_text: '* Direccion') %>

	    	</div>
	    </div>
			<div class= 'col-md-3 align-center'>
			    <%= image_tag(@configuracion.empresa_logo_url.to_s, class: "border-img") %>
			    <div class="uploader_button">
			    	<%= configuracion.file_field :empresa_logo, class:"file_uploader" %>
			    	<label class="font-img">+Agregar Imagen</label>
		    	</div>
			</div></br>
		</div>
		<div class="row">


		    <%= FormBuilder::text_field_v(configuracion, :empresa_email,
								                    input_class: 'emailCheck',
								                    max_length: Domain::EMAIL,
								                    autofocus: false,
								                    col_class: 'col-md-6',
								                    label_text: 'Email') %>

		    <%= FormBuilder::text_field_v(configuracion, :empresa_tel,
								                    input_class: 'telCheck',
								                    max_length: Domain::TELEFONO,
								                    autofocus: false,
								                    col_class: 'col-md-4',
								                    label_text: 'Telefono') %>


	    </div>
	    <div class="row">
	    	<h6 class="col-md-4">Horario de Atención T. Mañana</h6>
	    	<h6 class="col-md-6">Horario de Atención T. Tarde   </h6>
	    	<div class="row">
	    		<div class="col-md-12">
						<%= FormBuilder::text_field_v(configuracion, :hora_inicio_mañana,
																	input_class: 'horaCheck',
																	max_length: Domain::EMPRESA_HORARIO,
												                    col_class: 'col-md-2',
												                    label_text: 'Inicio') %>

						<%= FormBuilder::text_field_v(configuracion, :hora_fin_mañana,
																	input_class: 'horaCheck',
																	max_length: Domain::EMPRESA_HORARIO,
												                    col_class: 'col-md-2',
												                    label_text: 'Fin') %>


						<%= FormBuilder::text_field_v(configuracion, :hora_inicio_tarde,
																	input_class: 'horaCheck',
																	max_length: Domain::EMPRESA_HORARIO,
												                    col_class: 'col-md-2',
												                    label_text: 'Inicio') %>

						<%= FormBuilder::text_field_v(configuracion, :hora_fin_tarde,
																	input_class: 'horaCheck',
																	max_length: Domain::EMPRESA_HORARIO,
												                    col_class: 'col-md-2',
												                    label_text: 'Fin') %>

						<%= FormBuilder::text_field_v(configuracion, :dias_atencion,
																	max_length: Domain::DIAS_DE_ATENCION,
												                    col_class: 'col-md-4',
												                    label_text: 'Días') %>
				</div>
			</div>
		</div>
		<h4>Administración</h4><hr>
		<div class="row">
			<div class="col-md-4 form-group">
				<label>* Usuario Admin</label>
				<select class ="form-control required select2 " id="usuario_id" name="usuario_id"  >
			       <option value="">Nombre de Usuario </option>
					<%@usuarios.each do |usuario|%>
						<option value="<%= usuario.id%>">
						    <%=usuario.username%>
						</option>
					<%end%>
				</select>
				<%@usuarios.each do |usuario|%>
					<div class="hidden">
						<input type="hidden" id="option-nombre-<%= usuario.id %>" value="<%= usuario.empleado.persona.nombre %>"/>
						<input type="hidden" id="option-apellido-<%= usuario.id %>" value="<%= usuario.empleado.persona.apellido %>"/>
						</div>
				<%end%>
			</div>
			<div class="col-md-5">
				<input type="text" name="configuracion[usuario_admin]" id="usuario_admin" value="<%= @configuracion.usuario_admin %>" class="hidden">

				<label class="control-label">* Empleado</label>
				<input class="form-control usuario-nombre" disabled="disabled" value="" id="usuario_admin2">
			</div>
			<div class="form-button" style="margin-top: 24px;">
	      		<%= configuracion.submit 'Guardar cambios', class: 'btn btn-custom', data: {disable_with: "Guardando..."}%>
	   		 </div>
		</div>

	<%end%>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("option[value='<%= @configuracion.usuario_admin %>']").prop("selected",true);
		nombre= $("#option-nombre-<%= @configuracion.usuario_admin %>").val() + " " + $("#option-apellido-<%= @configuracion.usuario_admin %>").val();
		$("#usuario_admin2").val(nombre);
		$("#usuario_id").select2().on("select2:select",function(){
			$(this).valid(); //Para que valide cada vez que se selecciona otro item del select

			id = $(this).val();
			$("#user_empleado_id").val(id);
			var nombre= $("#option-nombre-"+id).val() + " " + $("#option-apellido-"+id).val();
			if(nombre!="undefined undefined"){
				$("#usuario_admin2").val(nombre);

			}else{
				$("#usuario_admin2").val("");
			}

			$("#usuario_admin").val(id);

		});
	});

	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>
	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

	configuracionesUI.initScript();
</script>
