</br><div class= "col-md-10 col-md-offset-1 well" >

	   <legend align="left"><h2>Configurar Datos de la Empresa </h2></legend></br>

	   <%= form_for @configuracion, html: {class: 'nueva-conf'},:multipart => true do |configuracion|%>
	    	<div class "row">
		      	<%= FormBuilder::text_field_v(configuracion, :empresa_nombre, 
									                    input_class: 'required', 
									                    max_length: 50, 
									                    min_length: 2,
									                    autofocus: true,
									                    col_class: 'col-md-4',
									                    label_text: '* Nombre') %>
		        <%= FormBuilder::text_field_v(configuracion, :empresa_direccion, 
									                    input_class: 'required', 
									                    max_length: 100, 
									                    min_length: 4,
									                    autofocus: false,
									                    col_class: 'col-md-8',
								                        label_text: '* Direccion') %>
			</div>
	   		<div class "row">
		   
			    
			    <%= FormBuilder::text_field_v(configuracion, :empresa_email, 
									                    input_class: 'emailCheck', 
									                    max_length: 30, 
									                    autofocus: false,
									                    col_class: 'col-md-5',
									                    label_text: 'Email') %>

			    <%= FormBuilder::text_field_v(configuracion, :empresa_tel, 
									                    input_class: 'required', 
									                    max_length: 20, 
									                    autofocus: false,
									                    col_class: 'col-md-4',
									                    label_text: 'Telefono') %>
		        	
				<%= FormBuilder::text_field_v(configuracion, :empresa_web, 
									                   
									                    max_length: 40, 
									                    autofocus: false,
									                    col_class: 'col-md-3',
									                    label_text: 'Sitio web') %>
		    </div>
			<%= FormBuilder::text_field_v(configuracion, :empresa_horario_atencion, 
								                    
								                    max_length: 100, 
								                  
								                    col_class: 'col-md-11',
								                    label_text: 'Horario de Atencion') %>

			
					                    
	    <div class= 'col-md-8'>
		    <%= image_tag (@configuracion.empresa_logo_url.to_s)  if @configuracion.empresa_logo? %>
		    <%= configuracion.label :logo_de_la_institucion %>
		    <%= configuracion.file_field :empresa_logo %>
	    </div></br>
	    <div class="row">
		  <div class="col-md-3 col-md-offset-10">
		    
	    	  <%= configuracion.submit 'Guardar cambios', class: 'btn btn-custom'%>
	    	</div>
		</div>	
	  <%end%>
	</div>
<script type="text/javascript">
	configuracionesUI.initScript();
</script>