<h4>Datos de la Ficha</h4>
<hr>

<div class="row">
	<div class="form-group col-md-2">
		<label class="control-label">P</label>
		<div class="data"> <%=@ficha.p%> </div>
	</div>

	<div class="form-group col-md-2">
		<label class="control-label">A</label>
		<div class="data"> <%=@ficha.a%> </div>
	</div>

	<div class="form-group col-md-2">
		<label class="control-label">PC</label>
		<div class="data"> <%=@ficha.pc1%> </div>
	</div>

	<div class="form-group col-md-2">
		<label class="control-label">PT</label>
		<div class="data"> <%=@ficha.pt1%> </div>
	</div>

	<div class="form-group col-md-2">
		<label class="control-label">PA</label>
		<div class="data"> <%=@ficha.pa%> </div>
	</div>
</div>