<h5>PACIENTE</h5>
<div class = "form-content">
	
	<h6>Datos Personales</h6>
	<hr>

	<label class="control-label">Nombre</label>
	<input class="form-control" value="<%= @paciente.persona.nombre %>">
		
	<label class="control-label">Apellido</label>
	<input class="form-control" value="<%= @paciente.persona.apellido %>">
		
	<label class="control-label">CI</label>
	<input class="form-control" value="<%=@paciente.persona.ci %>">
	
	<label class="control-label">RUC</label>
	<input class="form-control" value="<%=@paciente.persona.ruc %>">
		
	<label class="control-label">Fecha de Nac.</label>
	<input class="form-control" value="<%=Formatter.format_date(@paciente.persona.fecha_nacimiento)%>">

	<label class="control-label">Edad</label>
	<input class="form-control" value="<%=@paciente.persona.ruc %>">	
	
	<label class="control-label">Estado Civil</label>
	<input class="form-control" value="<%= @paciente.persona.estado_civil_id != nil ? @paciente.persona.estado_civil.descripcion : '' %>">

	<label class="control-label">Nacionalidad</label>
	<input class="form-control" value="<%=@paciente.persona.nacionalidad %>">

	<label class="control-label">Lugar de Nacimiento</label>
	<input class="form-control" value="<%=@paciente.lugar_nacimiento %>">
		
	<label class="control-label">Fecha de Ingreso</label>
	<input class="form-control" value="<%=Formatter.format_date(@paciente.fecha_ingreso)%>">

	<h6>Datos de Contacto</h6>
	<hr>

	<label class="control-label">Direccion</label>
	<input class="form-control" value="<%=@paciente.persona.direccion %>">
	
	<br><br>

	<label class="control-label">Email</label>
	<input class="form-control" value="<%=@paciente.persona.email %>">

	<label class="control-label">Telefono</label>
	<input class="form-control" value="<%=@paciente.persona.telefono %>">
	
	<br>
	<h6>Datos Laborales</h6>

	<label class="control-label">Profesión</label>
	<input class="form-control" value="<%=@paciente.profesion %>">

	<label class="control-label">Lugar de Trabajo</label>
	<input class="form-control" value="<%=@paciente.lugar_trabajo %>">
	
	<% unless @paciente.encargado_id.blank? %>
		<br>
		<h6>Datos de los Padres o Encargados</h6>

		<label class="control-label">Nombre del Padre</label>
		<input class="form-control" value="<%=@paciente.encargado.padre_nombre %>">
		
		<label class="control-label">Edad</label>
		<input class="form-control" value="<%=@paciente.encargado.padre_edad %>">

		<label class="control-label">Profesión Actual y Anterior</label>
		<input class="form-control" value="<%=@paciente.encargado.encargado_prof_act_ant %>">

		<label class="control-label">Nombre de la Madre</label>
		<input class="form-control" value="<%=@paciente.encargado.madre_nombre %>">
		
		<label class="control-label">Edad</label>
		<input class="form-control" value="<%=@paciente.encargado.madre_edad %>">

		<label class="control-label">Número de Hijos</label>
		<input class="form-control" value="<%=@paciente.encargado.madre_num_hijos %>">

		<label class="control-label">Profesión Actual y Anterior</label>
		<input class="form-control" value="<%=@paciente.encargado.madre_prof_act_ant %>">

		<label class="control-label">Nombre del Encargado</label>
		<input class="form-control" value="<%=@paciente.encargado.encargado_nombre %>">
		
		<label class="control-label">Edad</label>
		<input class="form-control" value="<%=@paciente.encargado.encargado_edad %>">

		<label class="control-label">Profesión Actual y Anterior</label>
		<input class="form-control" value="<%=@paciente.encargado.encargado_prof_act_ant %>">

	<% end %>
</div>