<div class="row">
   <%= data_h('Nombre(s) y Apellido(s) del Padre', encargados.padre_nombre,'col-md-10') %>
   <%= data_h('Edad', encargados.padre_edad,'col-md-2') %>
</div>
<div class="row">
   <%= data_h('Profesión Actual y/o Anterior',encargados.padre_prof_act_ant,'col-md-12') %>
</div>
<div class="row top-border">
   <%= data_h('Nombre(s) y Apellido(s) de la Madre', encargados.madre_nombre,'col-md-8') %>
   <%= data_h('Edad', encargados.madre_edad,'col-md-2') %>
   <%= data_h('Hijos', encargados.madre_num_hijos,'col-md-2') %>
</div>
<div class="row">
   <%= data_h('Profesión Actual y/o Anterior',encargados.madre_prof_act_ant,'col-md-12') %>
</div>
<div class="row top-border">
   <%= data_h('Nombre(s) y Apellido(s) del Tutor o Encargado', encargados.encargado_nombre,'col-md-10') %>
   <%= data_h('Edad', encargados.encargado_edad,'col-md-2') %>
</div>
<div class="row">
   <%= data_h('Profesión Actual y/o Anterior',encargados.encargado_prof_act_ant,'col-md-12') %>
</div>

