<% if encargados.nil? %>
   <%= h_panel_head('II - DATOS DE LOS PADRES Y/O ENCARGADO (No tiene)') %>
<% else %>
   <%= h_panel('II - DATOS DE LOS PADRES Y/O ENCARGADO', 'level-1')%>

      <div class="row">
         <%= h_data('Nombre(s) y Apellido(s) del Padre', encargados.padre_nombre,'col-md-10') %>
         <%= h_data('Edad', encargados.padre_edad,'col-md-2') %>
      </div>
      <div class="row">
         <%= h_data('Profesión Actual y/o Anterior',encargados.padre_prof_act_ant,'col-md-12') %>
      </div>
      <div class="row top-border">
         <%= h_data('Nombre(s) y Apellido(s) de la Madre', encargados.madre_nombre,'col-md-8') %>
         <%= h_data('Edad', encargados.madre_edad,'col-md-2') %>
         <%= h_data('Hijos', encargados.madre_num_hijos,'col-md-2') %>
      </div>
      <div class="row">
         <%= h_data('Profesión Actual y/o Anterior',encargados.madre_prof_act_ant,'col-md-12') %>
      </div>
      <div class="row top-border">
         <%= h_data('Nombre(s) y Apellido(s) del Tutor o Encargado', encargados.encargado_nombre,'col-md-10') %>
         <%= h_data('Edad', encargados.encargado_edad,'col-md-2') %>
      </div>
      <div class="row">
         <%= h_data('Profesión Actual y/o Anterior',encargados.encargado_prof_act_ant,'col-md-12') %>
      </div>
   <%= h_panel_end %>
<% end %>
