<% if ficha.nil? %>
   <%= h_panel_head('III - FICHA (No tiene)') %>
<% else %>
   <%= h_panel('III - FICHA') %>
      <div class="row">
         <%= h_data('P', ficha.p,'col-md-2') %>
         <%= h_data('A', ficha.a,'col-md-2') %>
         <%= h_data('PC', ficha.pc1,'col-md-2') %>
         <%= h_data('PT', ficha.pt1,'col-md-2') %>
         <%= h_data('PA', ficha.pa,'col-md-2') %>
      </div>
      <div class="row">
         <%= h_data('Control Cefálico - Control de Tronco - Equilibrio - Marcha', ficha.control,'col-md-12') %>
      </div>
      <h4>Antecedentes Gestacionales y Obstétricos</h4>
      <hr>
      <div class="row">
         <%= h_data('Gestación', ficha.gestacion,'col-md-3') %>
         <%= h_data('Paridad', ficha.paridad,'col-md-3') %>
         <%= h_data('Abortos', ficha.abortos,'col-md-3') %>
         <%= h_data('Nacidos Muertos', ficha.nacidos_muertos,'col-md-3') %>
      </div>
      <div class="row">
         <%= h_data('Gestaciones y Partos Anteriores', ficha.partos_anteriores,'col-md-12') %>
      </div>
      <div class="row">
         <%= h_data('G. Sanguíneo', ficha.gru_san_paciente,'col-md-3') %>
         <%= h_data('Rh', ficha.rh_paciente,'col-md-2') %>
         <%= h_data('Cooms', ficha.coombs,'col-md-2') %>
         <%= h_data('Padre G. Sanguíneo', ficha.gru_san_padre,'col-md-3') %>
         <%= h_data('Rh', ficha.rh_padre,'col-md-2') %>
      </div>
      <h4>Gestación Actual</h4>
      <hr>
      <div class="row">
         <%= h_data('F.U.M.', ficha.fum,'col-md-3') %>
         <%= h_data('FP', ficha.fp,'col-md-3') %>
         <%= h_data('Duración', ficha.duracion,'col-md-3') %>
         <%= h_data('Riesgos', ficha.riesgos,'col-md-3') %>
      </div>
      <h4>Observaciones</h4>
      <hr>
      <div class="row">
         <%= h_data('Tipo de Parto', ficha.tipo_parto,'col-md-12') %>
      </div>
      <div class="row">
         <%= h_data('Anestesia', ficha.anestesia,'col-md-6') %>
         <%= h_data('Analgesia', ficha.analgesia,'col-md-6') %>
      </div>
      <div class="row">
         <%= h_data('Neonatal:Cianosis', ficha.neonatal_cianosis,'col-md-4') %>
         <%= h_data('Ictericia Antes 72 Hs', ficha.ictericia_antes,'col-md-4') %>
         <%= h_data('Después 72 Hs', ficha.ictericia_despues,'col-md-4') %>
      </div>
      <div class="row">
         <%= h_data('APGAR', ficha.apgar,'col-md-3') %>
         <%= h_data('Peso', ficha.peso1,'col-md-2') %>
         <%= h_data('Talla', ficha.talla1,'col-md-2') %>
         <%= h_data('PC', ficha.pc2,'col-md-1') %>
         <%= h_data('TP', ficha.tp,'col-md-1') %>
         <%= h_data('Fontanela', ficha.fontanela,'col-md-3') %>
      </div>
      <div class="row">
         <%= h_data('Dubowitz', ficha.dubowitz,'col-md-4') %>
         <%= h_data('Parkin', ficha.parkin,'col-md-4') %>
         <%= h_data('Grupo Sang.', ficha.gru_san2,'col-md-2') %>
         <%= h_data('Rh', ficha.rh2,'col-md-2') %>
      </div>
      <h4>Observaciones</h4>
      <hr>
      <div class="row">
         <%= h_data('Medicación', ficha.medicacion,'col-md-6') %>
         <%= h_data('CCU', ficha.ccu,'col-md-6') %>
      </div>
      <div class="row">
         <%= h_data('Tiempo Internación', ficha.tiempo_internacion,'col-md-3') %>
         <%= h_data('Alta', ficha.alta,'col-md-3') %>
         <%= h_data('Peso', ficha.peso2,'col-md-2') %>
         <%= h_data('Talla', ficha.talla2,'col-md-2') %>
         <%= h_data('PB', ficha.pb,'col-md-1') %>
         <%= h_data('PT', ficha.pt1,'col-md-1') %>
      </div>
      <h5><strong>Alimentación:</strong></h5>
      <div class="row">
         <%= h_data('Natural', ficha.alimentacion_natural,'col-md-9') %>
         <%= h_data('Duración', ficha.duracion,'col-md-3') %>
      </div>
      <div class="row">
         <%= h_data('Artificial', ficha.alimentacion_artificial,'col-md-12') %>
      </div>
      <div class="row">
         <%= h_data('BCG', ficha.bcg,'col-md-3') %>
         <%= h_data('Antisarampionosa', ficha.antisarampionosa,'col-md-3') %>
         <%= h_data('Antigripal', ficha.antigripal,'col-md-3') %>
         <%= h_data('MMR', ficha.mmr,'col-md-3') %>

         <%= h_data('DPT', ficha.dpt,'col-md-3') %>
         <%= h_data('1º', ficha.dpt1,'col-md-3') %>
         <%= h_data('2º', ficha.dpt2,'col-md-3') %>
         <%= h_data('3º', ficha.dpt3,'col-md-3') %>
         <%= h_data('Ref 1º', ficha.dpt_ref1,'col-md-3') %>
         <%= h_data('Ref 2º', ficha.dpt_ref2,'col-md-3') %>
         <%= h_data('Ref 3º', ficha.dpt_ref3,'col-md-3') %>
         <%= h_data('Ref 4º', ficha.dpt_ref4,'col-md-3') %>
         <%= h_data('SABIN', ficha.sabin,'col-md-3') %>
         <%= h_data('1º', ficha.sabin1,'col-md-3') %>
         <%= h_data('2º', ficha.sabin2,'col-md-3') %>
         <%= h_data('3º', ficha.sabin3,'col-md-3') %>
         <%= h_data('Ref 1º', ficha.sabin_ref1,'col-md-3') %>
         <%= h_data('Ref 2º', ficha.sabin_ref2,'col-md-3') %>
         <%= h_data('Ref 3º', ficha.sabin_ref3,'col-md-3') %>
         <%= h_data('Ref 4º', ficha.sabin_ref4,'col-md-3') %>
      </div>
      <div class="row">
         <%= h_data('Otras', ficha.otras,'col-md-12') %>
      </div>
      <div class="row">
         <%= h_data('A.P.P.', ficha.app,'col-md-4') %>
         <%= h_data('A.P.F.', ficha.apf,'col-md-4') %>
         <%= h_data('Edad Mental', ficha.edad_mental,'col-md-4') %>
      </div>
      <div class="row">
         <%= h_data('E.P.L.', ficha.epl,'col-md-4') %>
         <%= h_data('D.P.M.', ficha.dpm,'col-md-4') %>
         <%= h_data('TTO. ANT.', ficha.tto_ant,'col-md-4') %>
      </div>
      <div class="row">
         <%= h_data('Sosten Cefálico', ficha.sosten_cefalico,'col-md-4') %>
         <%= h_data('Sedentación', ficha.sedentacion,'col-md-4') %>
         <%= h_data('Mancha', ficha.mancha,'col-md-4') %>
      </div>
   <%= h_panel_end %>
<% end %>


