<div class= "col-md-10 col-md-offset-1">
  <div class="form-content">
    <div class="page-title page-title-sin-submenu">
      <%=@turno.id.nil? ? 'Nuevo Turno' : 'Editar Turno'%> 

      <div class="tool">
        <%= link_to '<i class="fa fa-list"></i> '.html_safe, turnos_path %> 
      </div>
    </div>

    <%= form_for @turno, html: {class: 'nuevo-turno form-sin-submenu'}, remote: true do |turno|%>   

      <h4>Datos Personales</h4>
      <hr>
      <div class="row">
              <div class="col-md-7">

              <%= turno.label :paciente_id, '* Paciente' %> 

              <%= turno.select(:paciente_id, Paciente.all.collect { |p| [p.persona.nombre, p.id] },{},{class: "form-control", required: true, id: 'paciente_id'})%>

              </div>
            
               <%= FormBuilder::text_field_v(turno, :fecha_expedicion, 
                            input_class: 'required date', 
                            max_length: Domain::FECHA,
                            label_text: '* Fecha Actual',
                            col_class: 'col-md-5')%>
            
       </div>

        <%= turno.hidden_field :paciente_id %>
          <div id ="paciente_data">
          <%= render "paciente_form", turno: turno, paciente: @paciente%>
      </div>
     <h4>Datos Turno</h4>
    <hr>
       
      <div class="form-button">         
        <%= turno.submit 'Guardar', class: 'btn btn-custom'%>
      </div>

    <% end %>


  </div>

</div>

<script type="text/javascript"> 
    $(document).ready(function(){
      $("#paciente_id").select2(
        placeholder: "Seleccione un paciente",
        language: "es"

      });
      $('#paciente_id').change(function() {
        $.ajax({
          url: "turnos/get_paciente",
          data: {
           id : $('#paciente_id').val()
          },
          dataType: "script"
        });
    });

  turnosUI.initScript();
</script>