
<table id="table-turnos" class= "table table-condensed">
  <thead>
    <tr>
      <th>Turno</th>
      <th>Paciente</th>
      <th>C.I.</th>
      <th>Profesional</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Área</th>
    </tr>
  </thead>
  <tbody>
    <% @turnos.each do |turno| %>
    <tr>
      <td ><%=turno.nro_turno %></td>
      <td ><%=turno.paciente.persona.nombre %><%=turno.paciente.persona.apellido%></td>
      <td ><%=turno.paciente.persona.ci %></td>
      <td ><%=turno.empleado.persona.nombre %><%=turno.empleado.persona.apellido %></td>
      <td ><%=turno.estado %></td>
      <td ><%=turno.fecha_expedicion%></td>
      <td ><%=turno.area.nombre%></td>

      
      <td class = "action">
        
        <%= link_to '<i class="fa fa-eye fa-lg"></i> '.html_safe, turno_path(turno)%>     
        <%= link_to '<i class="fa fa-edit fa-lg"></i> '.html_safe, edit_turno_path(turno)%>        
        <%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, turno_path(turno), method: 'delete', data: {confirm: "¿Desea cancelar el turno?"}%>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>