<div class="page-title page-title-sin-submenu">    
  Turnos

  <div class="tool">
    <%= search_form_for @search, class: 'buscador', remote: true do |f| %>
    <div class="input-group"> 
     <%= f.search_field :paciente_persona_nombre_or_area_nombre_cont, placeholder: "Buscar por Área, o Paciente", class: "form-control", autofocus: true%>
     <span class="fa fa-search"></span>
     <div class="input-group-btn"> 
      <a href="#"><i class="fa fa-search-plus" aria-hidden="true" id= "show-advanced-search" data-toggle="tooltip" data-placement="bottom" title="Búsqueda Avanzada"></i></a>
      <%= link_to '<i class="fa fa-plus-square" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Nuevo Turno"></i> '.html_safe, new_turno_path, remote: true %>          
      <%= link_to '<i class="fa fa-print" data-toggle="tooltip" data-placement="bottom" title="Imprimir Lsta de Turnos"></i> '.html_safe, turnos_print_turnos_path(:format => :pdf), target: '_blank' %>    

      <%=link_to '<i class="fa fa-print" data-toggle="tooltip" data-placement="bottom" title="Imprimir Lsta de Turnos"></i>'.html_safe, turnos_print_turnos_path(format: 'pdf'), class: 'hide', id: 'imprimir-link', target: '_blank', data: {url: turnos_print_turnos_path(format: 'pdf')} %>
   </div> 
</div>
<% end %>
</div>

</div>
<div class= "content2">

  <div id="advanced-search" style="display: none;">
    <div class="row" >
     <%= search_form_for @search, url: search_turnos_path, method: :post, remote: true, class: 'form-filtros' do |f| %>
     <div class="row">
      <%= FormBuilder::text_field_v(f, :paciente_persona_nombre_or_paciente_persona_apellido_cont, {col_class: 'col-md-3', label_text: 'Paciente', input_class: '',max_length: Domain::NOMBRE})%>

      <!-- <%= FormBuilder::text_field_v(f, :estado_cont, {col_class: 'col-md-2', label_text: 'Estado Turno', input_class: '',max_length: Domain::NOMBRE})%> -->

      <%= FormBuilder::select_v(f, :estado_cont, ['Pendiente','Cancelado','Atendido'], {col_class: 'col-md-2', label_text: 'Estado Turno'}) %>


      <!--  <%= FormBuilder::text_field_v(f, :area_nombre_cont, {col_class: 'col-md-3', label_text: 'Área', input_class: '',max_length: Domain::AREA})%> -->

      <%= FormBuilder::select_v(f, :area_nombre_cont, Area.all.collect { |a| [a.nombre, a.nombre] }, {col_class: 'col-md-3', label_text: 'Área'}) %>

      <%= FormBuilder::text_field_v(f, :fecha_consulta_eq, {col_class: 'col-md-2', label_text: 'Fecha consulta', input_class: 'date',max_length: Domain::FECHA})%>

      <div class= "input-group pull-right" style = 'margin-top: 25px;'>
       <%= f.submit 'Filtrar', class: 'btn btn-custom '%>
       <%= f.submit 'Limpiar Campos', type: 'reset', class: 'btn btn-link'%>
    </div>
 </div>
 <% end %>
</div>
</br></br>
</div>
<div id="list" class="">
   <%= render 'list' %>
</div> 

<div id="list-paginate">
 <%= paginate @turnos, remote: true %>
</div>  
</div>

