
 <div class="row">
            <div class="col-md-4">
                <label class="control-label">Nombres</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.nombre %>">
              </div>
             <div class="col-md-4">
                <label class="control-label">Apellidos</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.apellido %>">
              </div>
              <div class="col-md-2">
                <label class="control-label">Fecha de Nac.</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.fecha_nacimiento.strftime("%d/%m/%Y") %>">
              </div>
            <div class="col-md-2">
                <label class="control-label">Edad</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.edad %>">
              </div>
            </div>
          </br>
          <div class="row">
              <div class="col-md-4">
                <label class="control-label">Sexo</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.sexo %>">
              </div>
              <div class="col-md-3">
                <label class="control-label">C.I.</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.ci %>">
              </div>
              <div class="col-md-5">
                <label class="control-label">Nacionalidad</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.nacionalidad %>">
              </div>

          </div>
          </br>
            <div class="row">
              <div class="col-md-8">
                <label class="control-label">Dirección</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.direccion %>">
              </div>
              <div class="col-md-4">
                <label class="control-label">Teléfono</label>
                <input class="form-control" disabled="disabled" value="<%= @paciente.persona.telefono %>">
              </div>

          </div>
          