
  <div class="form-content form-ficha">
    <div class="page-title page-title-ficha">
      <%=@fisio_nino.id.nil? ? 'Nueva Ficha' : 'Editar Ficha'%> 

      <div class="tool">
        <%= link_to '<i class="fa fa-list"></i> '.html_safe, ficha_fisioterapia_ninos_path %> 
      </div>

    </div>

    <%= form_for @fisio_nino, html: {class: 'nueva-ficha form-ficha', :multipart => true }, remote: true do |ficha|%>
      <div class="row">
        <div class="col-md-5">


          <%= ficha.label :paciente_id, '* Paciente' %> 
          <div class="row">
            <div class="col-md-10">

              <%= ficha.select(:paciente_id, Hash[Paciente.all.map{|a| [a.persona.nombre + " "+ a.persona.apellido, a.id]}],{},{class: "paciente_select form-control select2", required: true,  id: 'paciente_id'})%>
            </div>
          <%= link_to '<i class="fa fa-plus"></i> '.html_safe, pacientes_new_paciente_modal_path(root: 'ficha_fisioterapia_ninos/paciente_form'), class: 'btn btn-custom col-md-1', style: 'height: 30px; width: 40px', remote: true%> 
            
          </div>
      </div>

        <div class="col-md-4">
          <%= ficha.label :doctor_id, '* Profesional de la Salud' %>
          <%= ficha.select(:doctor_id, Hash[Empleado.where(type: 'Doctor').map{|a| [a.area.nombre + "-"+ a.persona.nombre + " "+ a.persona.apellido, a.id]}],{},{class: "profesional_select form-control select2", required: true,  id: 'doctor_id'})%>
        </div>   
        <%= FormBuilder::text_field_v(ficha, :fecha, 
                                      input_class: 'date datepicker required', 
                                      max_length: Domain::FECHA,
                                      label_text: '* Fecha',
                                      col_class: 'col-md-3')%>
     </div>

      <h4>Datos del Paciente</h4>
      <hr>
    

          <div class ="paciente_data">
          <div class="row">

            <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'paciente-nombre', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Nombres') %>

            <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'paciente-apellido', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Apellidos') %>

            <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'paciente-apellido', 
                                          col_class: 'col-md-2',
                                          disabled: true,
                                          label_text: 'Fecha de nac.') %>

            <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'clear', 
                                          
                                          col_class: 'col-md-2',
                                          disabled: true,
                                          label_text: 'Edad') %> 
            </div>      
            <div class="row">
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'clear', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Sexo') %> 
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'clear paciente-ci',
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'CI') %>
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'clear', 
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Nacionalidad') %>  
              
          </div>
          <div class="row">
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'clear', 
                                          col_class: 'col-md-9',
                                          disabled: true,
                                          label_text: 'Dirección') %> 
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: 'clear paciente-ci',
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'Teléfono') %>
                
              
          </div>

   
      </div>
    </br>
     <h4>Datos de Encargados</h4>
    <hr>
    <div class="encargado_data">
      <div class="row">
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Madre') %> 
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '',
                                          col_class: 'col-md-2',
                                          disabled: true,
                                          label_text: 'Edad') %>
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '',
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Profesión') %>
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '',
                                          col_class: 'col-md-2',
                                          disabled: true,
                                          label_text: 'Nro de Hijos') %>
                
              
    </div>
     <div class="row">
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '', 
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Padre') %> 
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '',
                                          col_class: 'col-md-2',
                                          disabled: true,
                                          label_text: 'Edad') %>
              <%= FormBuilder::text_field_v(ficha, :paciente_id, 
                                          input_class: '',
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Profesión') %>
              
    </div>
    </div>
     <h4>Embarazo</h4>
    <hr>
    <div class="row">
              <%= FormBuilder::text_field_v(ficha, :control_embarazo, 
                                          input_class: '', 
                                          max_length: Domain::CONTROL_EMBARAZO,
                                          col_class: 'col-md-5',
                                          label_text: 'Control Prenatal') %> 
              <%= FormBuilder::text_field_v(ficha, :edad_gestacional, 
                                          input_class: '',
                                          max_length: Domain::EDAD_GEST,
                                          col_class: 'col-md-3',
                                          label_text: 'Edad Gestacional') %>
              <%= FormBuilder::text_field_v(ficha, :tipo_parto, 
                                          input_class: '',
                                          max_length: Domain::TIPO_PARTO,
                                          col_class: 'col-md-4',
                                          label_text: 'Tipo de Parto') %>
              
    </div>
    <h4>Datos de la Ficha</h4>
    <hr>
    <div class="row">
              <%= FormBuilder::text_field_v(ficha, :peso_nacer, 
                                          input_class: '', 
                                          max_length: Domain::PESO_NACER,
                                          col_class: 'col-md-2',
                                          label_text: 'Peso al Nacer') %> 
              <%= FormBuilder::text_field_v(ficha, :apgar, 
                                          input_class: '',
                                          max_length: Domain::APGAR,
                                          col_class: 'col-md-3',
                                          label_text: 'Apgar') %>
              <%= FormBuilder::text_field_v(ficha, :antecedentes_familiares, 
                                          input_class: '',
                                          max_length: Domain::ANT_FLIAR,
                                          col_class: 'col-md-7',
                                          label_text: 'Antecedentes Familiares') %>
              
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= ficha.label :condicion_general, 'Condiciones Generales del Recién Nacido' %> 
        <%= ficha.text_area :condicion_general, rows: "5", class: "form-control" %> 
      </div>
    </div>
      </br>
      <div class="form-button">         
        <%= ficha.submit 'Guardar', class: 'btn btn-custom'%>
      </div>

    <% end %>


  </div>

<script type="text/javascript"> 
    
  fisioNinosUI.initScript();
  <% if !flash.notice.blank? %> 
    var n = noty({text: '<%=notice%>', type: 'success'});   
  <% end %>
  
  <% if !flash.alert.blank?%> 
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>
</script>