 <div class="page-title page-title-con-sidebar">
      Ficha de <%= fisio_nino.paciente.persona.nombre%> <%= fisio_nino.paciente.persona.apellido%>

    <div class="tool">
      <%= link_to '<i class="fa fa-list"></i> '.html_safe, ficha_fisioterapia_ninos_path %>
      <%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_ficha_fisioterapia_nino_path, remote: true%>

      <%= link_to '<i class="fa fa-edit"></i> '.html_safe, edit_ficha_fisioterapia_nino_path(fisio_nino.id), remote:true%>

      <%= link_to '<i class="fa fa-print"></i> '.html_safe, ficha_fisioterapia_ninos_print_ficha_path(ficha_id: fisio_nino.id, :format => :pdf), target: '_blank'%>
    </div>
  </div>
  <div class="content">
  <div class="form-content">

    <%= form_for fisio_nino, html: {class: 'form-ficha', :multipart => true }, remote: true do |ficha|%>
      <h4 class="titulo-ficha">FICHA FISIOTERAPIA PEDIÁTRICA</h4>
      <div class="row">
        <div class="col-md-9">


          <h4><%= ficha.label :doctor_id, 'Profesional de la Salud: ' %> <%= fisio_nino.doctor.persona.nombre%> <%= fisio_nino.doctor.persona.apellido%> </h4>
        </div>
        <div class="col-md-3">

         <h4><%= ficha.label :fecha, 'Fecha: ' %> <%=Formatter.format_date(fisio_nino.fecha)%> </h4>
        </div>
      </div>
    </br>

    <div id="paciente-data">
      <%= render 'form_paciente', paciente: paciente %>
    </div>

    <h4>Embarazo</h4>
    <hr>
    <div class="row">
              <%= FormBuilder::text_field_v(ficha, :control_embarazo,
                                          input_class: '',
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Control Prenatal') %>
              <%= FormBuilder::text_field_v(ficha, :edad_gestacional,
                                          input_class: '',
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'Edad Gestacional') %>
              <%= FormBuilder::text_field_v(ficha, :tipo_parto,
                                          input_class: '',
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Tipo de Parto') %>

    </div>
    <h4>Datos de la Ficha</h4>
    <hr>
    <div class="row">
              <%= FormBuilder::text_field_v(ficha, :peso_nacer,
                                          input_class: '',
                                          col_class: 'col-md-2',
                                          disabled: true,
                                          label_text: 'Peso al Nacer') %>
              <%= FormBuilder::text_field_v(ficha, :apgar,
                                          input_class: '',
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'Apgar') %>
              <%= FormBuilder::text_field_v(ficha, :antecedentes_familiares,
                                          input_class: '',
                                          col_class: 'col-md-7',
                                          disabled: true,
                                          label_text: 'Antecedentes Familiares') %>

    </div>
    <div class="row">
      <div class="col-md-12">
        <%= ficha.label :condicion_general, 'Condiciones Generales del Recién Nacido' %>
        <%= ficha.text_area :condicion_general, rows: "4", class: "form-control", disabled: true %>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-md-8">
         <h4>Consultas</h4>
      </div>
      <div class="col-md-4">
         <%= link_to "Agregar Consulta", consultas_consulta_from_ficha_path(area_id: fisio_nino.area_id, paciente: fisio_nino.paciente_id, profesional: fisio_nino.doctor_id), class: "btn btn-custom", remote: true %>
          <%= link_to 'Ver Historial Clínico', historial_fisioterapeutico_path(fisio_nino.paciente_id), class: "btn btn-custom  pull-right",target: '_blank'%>

      </div>
    </div>
    <hr>
    <%=render 'consultas/consultas_tabs', consultas: consultas%>

    <% end %>
  </div>
</div>
<script type="text/javascript">

  consultasUI.initConsultasTab();

  <% if !flash.notice.blank? %>
    var n = noty({text: '<%=notice%>', type: 'success'});
  <% end %>

  <% if !flash.alert.blank?%>
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>

</script>