
<table class= "table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Empleado</th>
      <th>C.I</th>
      <th>Direccion</th>
      <th class="col-md-1">Telefono</th>
      <th>Cargo</th>
      <th>Area</th>
      <th></th>
    </tr>
  </thead>
  <% if empleados.blank? %>
    <tfoot>
      <tr>
        <th colspan="8" scope="col">No se encontraron coincidencias </th>
      </tr>
    </tfoot>
   <% end %>
  <tbody>
    <%i=0%>
    <% empleados.each do |empleado| %>
      <%i=i+1%>
    <tr data-url=<%= empleado_path(empleado)%>>
      <td><%=i%> </td>
      <td><%=empleado.abr_profesion %>  <%=empleado.persona_full_name %> </td>
      <td><%=empleado.persona_ci %></td>
      <td><%=empleado.persona_direccion %></td>
      <td><%=empleado.persona_telefono %></td>
      <td><%=empleado.cargo %></td>
      <td>
          <% if not empleado.type == 'Funcionario' %>
            <%=empleado.area_nombre %>
          <% end %>
      </td>

      <td class = "action">

        <%= link_to '<i class="fa fa-eye fa-lg" data-toggle="tooltip" title="Ver Empleado"></i> '.html_safe, empleado_path(empleado), remote: true%>

        <%= link_to '<i class="fa fa-edit fa-lg" data-toggle="tooltip" title="Editar Empleado"></i> '.html_safe, edit_empleado_path(empleado), remote: true%>

        <% unless current_user.empleado_id == empleado.id %>
          <%= link_to '<i class="fa fa-trash-o fa-lg" data-toggle="tooltip" title="Eliminar Empleado"></i>'.html_safe, empleado_path(empleado), method: 'delete', data: {confirm: "¿Desea eliminar al empleado #{empleado.persona_full_name}?"}%>
        <%end%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  APP.initImprimir("<%= params[:q].nil? ? '' : '?'+params[:q].to_query('q')%>");
</script>