<div class="form-content">
	<div class="page-title">
		Empleado

		<div class="tool">
			<%= link_to '<i class="fa fa-list"></i> '.html_safe, empleados_path %> 
			<%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_empleado_path, remote: true, :target => '_blank' %> 
			
				<%= link_to '<i class="fa fa-edit"></i> '.html_safe, edit_empleado_path(@empleado.id), remote: true, :target => '_blank' %> 
				<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, empleado_path(@empleado.id), method: 'delete', data: {confirm: "¿Desea eliminar al empleado #{@empleado.persona.nombre}?"}%>

			<%= link_to '<i class="fa fa-print"></i> '.html_safe, empleados_path %> 
		</div>
	</div>

	<%= form_for @empleado do |empleado|%>		

		<h4>Datos Personales</h4>
		<hr>

		<%= empleado.fields_for(:persona) do |persona| %>
		<div class="row">	
			<%= FormBuilder::text_field_v(persona, :nombre, 
													disabled: true,
													col_class: 'col-md-4',
													label_text: '* Nombre') %>
			<%= FormBuilder::text_field_v(persona, :apellido, 
													disabled: true,
													col_class: 'col-md-4',
													label_text: '* Apellido') %>
			<%= FormBuilder::text_field_v(persona, :ci, 
													disabled: true,
													col_class: 'col-md-2',
													label_text: '* Cédula Nº') %>  
			<%= FormBuilder::text_field_v(persona, :ruc, 
													disabled: true,
													col_class: 'col-md-2') %>                           
		</div>					                        
		<div class="row">   

			<%= FormBuilder::text_field_v(persona, :fecha_nacimiento, 
													disabled: true,
													label_text: '* Fecha de Nac.',
													col_class: 'col-md-2', 
													input_value: Formatter.format_date(@empleado.persona.fecha_nacimiento))%> 	
			<%= FormBuilder::text_field_v(persona, :edad, 
													disabled: true,
													col_class: 'col-md-2') %>  
			
			<%= FormBuilder::text_field_v(persona, :sexo, 
													disabled: true,
													label_text: '* Sexo',
							                        col_class: 'col-md-4') %>
			
			<%= FormBuilder::text_field_v(persona, :estado_civil_id,
													disabled: true,
													label_text: 'Estado Civil',
													input_value: @empleado.persona.estado_civil_id != nil ? @empleado.persona.estado_civil.descripcion : '' , 
							                        col_class: 'col-md-4') %>    
		</div> 

		<h4>Datos de Contacto</h4>
		<hr> 
			
		<div class="row">   

			<%= FormBuilder::text_field_v(persona, :direccion,
													disabled: true,
													col_class: 'col-md-11',
													label_text: 'Dirección')%> 
		</div>    
		<div class="row">   

			<%= FormBuilder::text_field_v(persona, :telefono, 
													disabled: true,
													col_class: 'col-md-4') %> 	
			<%= FormBuilder::text_field_v(persona, :email, 
													disabled: true,
													col_class: 'col-md-7') %> 
		</div>  		
		<% end %>

		<h4>Datos Laborales</h4>
		<hr>

		<div class="row">   
			<%= FormBuilder::text_field_v(empleado, :cargo,
													disabled: true,
													label_text: 'Cargo',
													input_value: @empleado.cargo, 
							                        col_class: 'col-md-4') %>

			<%= FormBuilder::text_field_v(empleado, :abr_profesion, 
													disabled: true,
													label_text: 'Abr. Pofesión',
													input_value: @empleado.abr_profesion, 
													col_class: 'col-md-2') %> 	
			
			<div class="checkbox col-md-6">
			    <label>
					<%= check_box_tag 'es_doctor', true, @empleado.type == 'Doctor' ? true : false, class: 'checkbox-doctor', disabled: true  %>
			    	
			        ¿Es Profesional de Salud?
			        <%= empleado.hidden_field :type, class: 'tipo-empleado'%>
			        <%= empleado.hidden_field :area_id,value: nil, class: 'area-id'%>
			    </label>
			</div>			
					
		</div> 	

		<div class="row">
			<% if @empleado.area_id != nil %>
				<%= FormBuilder::text_field_v(empleado, :area_id,
														disabled: true,
														label_text: '* Area',
														input_value: @empleado.area.nombre, 
								                        col_class: 'col-md-4') %>
				<%= FormBuilder::text_field_v(empleado, :costo, 
														disabled: true,	 
														input_value: @empleado.costo, 
														col_class: 'col-md-2') %>				                        
			<% end %>
			</div>	

	<% end %>
	

</div>

