<div class="modal-header">

	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

	<h4 class="modal-title">Empleado
	</h4>

</div>

<div class="modal-body">

	<%= form_for @empleado, html: {class: 'form-horizontal nuevo-empleado'} do |empleado|%>		
		
		<h5>Datos Personales</h5>

		<%= empleado.fields_for(:persona) do |persona| %>
	 	<div class="row">	
			<%= FormBuilder::text_field_v(persona, :nombre, 
							                        input_class: 'required',
							                        disabled: true,                      
							                        col_class: 'col-md-4',
							                        label_text: '* Nombre') %>

		    <%= FormBuilder::text_field_v(persona, :apellido,  
							                        col_class: 'col-md-4',
							                        disabled: true,
							                        label_text: '* Apellido') %>

			<%= FormBuilder::text_field_v(persona, :ci, 
													disabled: true,
						                            col_class: 'col-md-2',
						                            label_text: '* Cédula Nº') %> 

			<%= FormBuilder::text_field_v(persona, :ruc, 
													disabled: true,
						                            col_class: 'col-md-2') %>                           
		</div>					                        
		<div class="row">   
		    
			<%= FormBuilder::text_field_v(persona, :fecha_nacimiento,
													disabled: true,
							                        label_text: '* Fecha de Nac.',
							                        col_class: 'col-md-2', 
							                        input_value: Formatter.format_date(@empleado.persona.fecha_nacimiento))%> 	
			<%= FormBuilder::text_field_v(persona, :edad, 
													disabled: true,
							                        col_class: 'col-md-2') %>                  		                            
			<%= FormBuilder::text_field_v(persona, :sexo, 
													disabled: true,
													label_text: '* Sexo',
							                        col_class: 'col-md-4') %>
			
			<%= FormBuilder::text_field_v(persona, :estado_civil_id,
													disabled: true,
													label_text: 'Estado Civil',
													input_value: @empleado.persona.estado_civil_id != nil ? @empleado.persona.estado_civil.descripcion : '' , 
							                        col_class: 'col-md-4') %>                 
			
		</div> 

		<h5>Datos de Contacto</h5> 
		
		<div class="row">   
		    
			<%= FormBuilder::text_field_v(persona, :direccion,
													disabled: true,
							                        col_class: 'col-md-11',
							                        label_text: 'Dirección')%> 
		</div>    
		<div class="row">   
		    
			<%= FormBuilder::text_field_v(persona, :telefono, 
													disabled: true,	
							                        col_class: 'col-md-4') %> 	

			<%= FormBuilder::text_field_v(persona, :email, 
													disabled: true,
							                        col_class: 'col-md-7') %> 
		</div>  		
	 	<% end %>

	 	<h5>Datos Laborales</h5>

		<div class="row">   
		    
			<%= FormBuilder::text_field_v(empleado, :cargo_id,
													disabled: true,
													label_text: '* Cargo',
													input_value: @empleado.cargo.descripcion, 
							                        col_class: 'col-md-4') %>
			
			<div class="checkbox col-md-3">
			    <label>
					<%= check_box_tag 'es_doctor', true, @empleado.type == 'Doctor' ? true : false, class: 'checkbox-doctor', disabled: true  %>
			    	
			        ¿Es Doctor?
			        <%= empleado.hidden_field :type, class: 'tipo-empleado'%>
			        <%= empleado.hidden_field :especialidad_id,value: nil, class: 'epecialidad-id'%>
			    </label>
			</div>
			
			<% if @empleado.especialidad_id != nil %>
				<%= FormBuilder::text_field_v(empleado, :especialidad_id,
													disabled: true,
													label_text: '* Especialidad',
													input_value: @empleado.especialidad.descripcion, 
							                        col_class: 'col-md-4') %>
			<% end %>
		</div> 

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<%= link_to 'Eliminar Empleado', empleado_path(@empleado.id),class: 'btn btn-danger', method: 'delete', data: {confirm: "¿Desea eliminar al empleado #{@empleado.persona.nombre}?"}, remote: true%>
			<%= link_to 'Editar Empleado',edit_empleado_path(@empleado.id), class: 'btn btn-custom', remote: true %>
		</div>  

	<% end %>

</div>

