<div class="page-title page-title-con-sidebar">
	Testeo de Select 2

	<div class="tool">
		<%= link_to '<i class="fa fa-list"></i> '.html_safe, fichas_fisioterapeuticas_adultos_path %>
	</div>

</div>

<div class="form-content2">

	<%= simple_form_for @ficha, html: {class: 'form-ficha2'}, remote: true do |ficha|%>


	<h4 class="titulo-ficha">TEST SELECT 2</h4>

	<div class="row">
		<%= ficha.input :paciente_id,
                collection: [],
                label: '* Paciente',
                wrapper_html: { class: 'col-md-4'},
                input_html:  { class: 'required select-paciente select2'} %>

		<div class="form-group col-md-4">
			<label class="control-label">* Paciente</label>
			<select class="required select-paciente select2 form-control" >	</select>
		</div>

		<!-- <%= FormBuilder::select_v(ficha, :paciente_id, [],
									col_class: 'col-md-4',
									label_text: '* Pacientes',
									input_class: 'required select-paciente select2') %> -->

	</div>

	<div class="row">
		<%= ficha.input :paciente_id, collection: @paciente.id.nil? ? [] : [[@paciente.persona_nombre+" "+@paciente.persona_apellido, @paciente.id]], label: '* Paciente', wrapper_html: { class: 'col-md-4'}, input_html:  { class: 'required select-paciente2 select2 uniquePacienteFicha paciente-id'} %>

		<%= ficha.input :paciente_id, collection: Paciente.all.collect { |a| [a.persona_nombre+" "+a.persona_apellido, a.id] }, label: '* Paciente', wrapper_html: { class: 'col-md-4' }, input_html:	 { class: 'required select-paciente3 select2'} %>
	</div>

	<div class="form-button">
		<%= ficha.submit 'Guardar', class: 'btn btn-custom'%>
	</div>

	<% end %>
</div>

<script type="text/javascript">
	/*  */
	APP.initSelect2({element: '.select-paciente3', placeholder: 'Seleccione un Paciente'});

	pacientesUI.initBuscarPaciente('.select-paciente2');

	pacientesUI.initBuscarPaciente('.select-paciente');

	$('.form-ficha2').validate();

</script>