<% if consultas.size == 0 %>
    <strong>No se encontraron consultas</strong>
<% end %>

<ul class="nav nav-tabs">
    <% consultas.each do |c| %>
        <li><a href="#tab-<%= c.id%>"><%= c.fecha.strftime("%d/%m/%Y")%></a></li>
    <%end%>
</ul>

<div class="tabscontent">
    <% consultas.each do |consulta| %>
        <div id="tab-<%= consulta.id%>">
            <%= simple_fields_for :consulta do |consult| %>
                <div class="row">
              <h4 class="col-md-8"><strong>Profesional de la Salud: </strong> <%= consulta.doctor_abr_profesion+' '+consulta.doctor_persona_full_name%> </h4>

              <h4 class="col-md-4"><strong> Fecha de Consulta: </strong> <%= Formatter.format_date(consulta.fecha)%> </h4>
            </div>

            <h4>II- Encargado</h4>
            <hr>
            <div class="row">
                <%= consult.input :encargado, label: 'Nombres y Apellidos', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.encargado}, required: false %>
            </div>

            <h4>III- Valoración del desarrollo</h4>
            <hr>
            <div class="row">
                <%= consult.input :sosten_cefalico, label: 'Sostén Cefálico', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.sosten_cefalico}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :sento, label: 'Se sentó a los:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.sento}, required: false %>
                <%= consult.input :paro, label: 'Se paró a los:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.paro}, required: false %>
                <%= consult.input :camino, label: 'Caminó a los:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.camino}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :busca_sonido, label: 'Busca Sonido?', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.busca_sonido}, required: false %>
                <%= consult.input :emite_sonido, label: 'Emite Sonido?:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.emite_sonido}, required: false %>
                <%= consult.input :rie_llora, label: 'Rie - Llora?:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.rie_llora}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :sigue_luz, label: 'Sigue la luz u objetos coloridos?', wrapper_html: { class: 'col-md-5'},input_html: { disabled: true, value: consulta.sigue_luz}, required: false %>
                <%= consult.input :mastica_deglute, label: 'Mastica - Deglute?:', wrapper_html: { class: 'col-md-7'},input_html: {disabled: true, value: consulta.mastica_deglute}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :habilidades, label: 'Habilidades presentes y/o ausentes para la edad', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.habilidades}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :otros, as: :text, label: 'Otros', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.otros}, required: false %>
            </div>
            <h4>IV- Alimentación Actual</h4>
            <hr>
            <div class="row">
                <%= consult.input :desayuno, label: 'Desayuno:', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.desayuno}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :media_manana, label: 'Media mañana', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.media_manana}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :almuerzo, label: 'Almuerzo', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.almuerzo}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :merienda, label: 'Merienda', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.merienda}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :cena, label: 'Cena', wrapper_html: { class: 'col-md-12'},input_html: { disabled: true, value: consulta.cena}, required: false %>
            </div>

            <h4>V- Signos y/o Síntomas</h4>
            <hr>
            <div class="row">
                <%= consult.input :diarrea, label: 'Diarrea', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.diarrea}, required: false %>
                <%= consult.input :vomitos, label: 'Vómitos', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.vomitos}, required: false %>
                <%= consult.input :fiebre, label: 'Fiebre', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.fiebre}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :problemas_respiratorios, label: 'Problemas Respiratorios', wrapper_html: { class: 'col-md-6'},input_html: {disabled: true, value: consulta.problemas_respiratorios}, required: false %>
                <%= consult.input :distension_abdominal, label: 'Distención abdominal', wrapper_html: { class: 'col-md-6'},input_html: { disabled: true, value: consulta.distension_abdominal}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :constipacion, label: 'Constipación', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.constipacion}, required: false %>
                <%= consult.input :orina, label: 'Orina', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true, value: consulta.orina}, required: false %>
                <%= consult.input :sudor, label: 'Sudor', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true, value: consulta.sudor}, required: false %>
            </div>
            <div class="row">
                <%= consult.input :otros2, label: 'Otros', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true, value: consulta.otros2}, required: false %>
            </div>
            <h4>VI- Datos Antropométricos</h4>
            <hr>
            <div class="row">
                <%= consult.input :talla, label: 'Talla:', wrapper_html: { class: 'col-md-6'},input_html: {disabled: true, value: consulta.talla}, required: false %>
                <%= consult.input :peso, label: 'Peso:', wrapper_html: { class: 'col-md-6'},input_html: { disabled: true, value: consulta.peso}, required: false %>

            </div>
            <div class="row">
                <%= consult.input :pc, label: 'PC:', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true, value: consulta.pc}, required: false %>
                <%= consult.input :imc, label: 'IMC:', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true, value: consulta.imc}, required: false %>
                <%= consult.input :cm, label: 'CM:', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true, value: consulta.cm}, required: false %>
            </div>
            <h4>VII- Diagnóstico Médico</h4>
            <hr>
            <div class="row">
                <%= consult.input :diagnostico, as: :text, label: 'Diagnóstico', wrapper_html: { class: 'col-md-12'},input_html: { disabled: true,value: consulta.diagnostico, :rows => 3}, required: false %>
            </div>

            <%end%>
        </div>
    <%end%>
</div>
