<div class="page-title page-title-con-sidebar">
  Consulta de <%=consulta.paciente_persona_full_name%>

  <div class="tool">
    <%= link_to '<i class="fa fa-list data-toggle="tooltip" title="Lista de Consultas"></i> '.html_safe, consultas_nutricionales_pediatricas_path %>

    <%= link_to '<i class="fa fa-plus-square" data-toggle="tooltip" title="Nueva Consulta"></i> '.html_safe, new_consulta_nutricional_pediatrica_path, remote: true %>

    <%= link_to '<i class="fa fa-edit" data-toggle="tooltip" title="Editar Consulta"></i> '.html_safe, edit_consulta_nutricional_pediatrica_path(consulta), remote:true%>

    <%= link_to '<i class="fa fa-print" data-toggle="tooltip" title="Imprimir Consulta"></i> '.html_safe, consultas_nutricionales_pediatricas_print_consulta_path(consulta_id: consulta.id, :format => :pdf), target: '_blank'%>

  </div>
</div>
<div class="content">
	<div class="form-content">
		<%= simple_form_for consulta, html: {class: 'nueva-consulta'} do |consult|%>
			<%= hidden_field_tag :consulta_id, consulta.id, class: 'consulta-id'%>

			<h4 class="titulo-ficha">Consulta en Nutrición Pediátrica</h4>

		    <div class="row">
		      <h4 class="col-md-9"><strong>Profesional de la Salud: </strong> <%= consulta.doctor_abr_profesion+' '+consulta.doctor_persona_full_name%> </h4>

		      <h4 class="col-md-3"><strong> Fecha: </strong> <%= Formatter.format_date(consulta.fecha)%> </h4>
		    </div>

			<div id="paciente-data">
				<%= render 'form_paciente', paciente: paciente%>
			</div>

			<h4>II- Encargado</h4>
			<hr>
			<div class="row">
				<%= consult.input :encargado, label: 'Nombres y Apellidos', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>

			<h4>III- Valoración del desarrollo</h4>
			<hr>
			<div class="row">
				<%= consult.input :sosten_cefalico, label: 'Sostén Cefálico', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :sento, label: 'Se sentó a los:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :paro, label: 'Se paró a los:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :camino, label: 'Caminó a los:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :busca_sonido, label: 'Busca Sonido?', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :emite_sonido, label: 'Emite Sonido?:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :rie_llora, label: 'Rie - Llora?:', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :sigue_luz, label: 'Sigue la luz u objetos coloridos?', wrapper_html: { class: 'col-md-5'},input_html: { disabled: true} %>
				<%= consult.input :mastica_deglute, label: 'Mastica - Deglute?:', wrapper_html: { class: 'col-md-7'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :habilidades, label: 'Habilidades presentes y/o ausentes para la edad', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :otros, as: :text, label: 'Otros', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<h4>IV- Alimentación Actual</h4>
			<hr>
			<div class="row">
				<%= consult.input :desayuno, label: 'Desayuno:', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :media_manana, label: 'Media mañana', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :almuerzo, label: 'Almuerzo', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :merienda, label: 'Merienda', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :cena, label: 'Cena', wrapper_html: { class: 'col-md-12'},input_html: { disabled: true} %>
			</div>

			<h4>V- Signos y/o Síntomas</h4>
			<hr>
			<div class="row">
				<%= consult.input :diarrea, label: 'Diarrea', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :vomitos, label: 'Vómitos', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :fiebre, label: 'Fiebre', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :problemas_respiratorios, label: 'Problemas Respiratorios', wrapper_html: { class: 'col-md-6'},input_html: {disabled: true} %>
				<%= consult.input :distension_abdominal, label: 'Distención abdominal', wrapper_html: { class: 'col-md-6'},input_html: { disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :constipacion, label: 'Constipación', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :orina, label: 'Orina', wrapper_html: { class: 'col-md-4'},input_html: {disabled: true} %>
				<%= consult.input :sudor, label: 'Sudor', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true} %>
			</div>
			<div class="row">
				<%= consult.input :otros2, label: 'Otros', wrapper_html: { class: 'col-md-12'},input_html: {disabled: true} %>
			</div>
			<h4>VI- Datos Antropométricos</h4>
			<hr>
			<div class="row">
				<%= consult.input :talla, label: 'Talla:', wrapper_html: { class: 'col-md-6'},input_html: {disabled: true} %>
				<%= consult.input :peso, label: 'Peso:', wrapper_html: { class: 'col-md-6'},input_html: { disabled: true} %>

			</div>
			<div class="row">
				<%= consult.input :pc, label: 'PC:', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true} %>
				<%= consult.input :imc, label: 'IMC:', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true} %>
				<%= consult.input :cm, label: 'CM:', wrapper_html: { class: 'col-md-4'},input_html: { disabled: true} %>
			</div>
			<h4>VII- Diagnóstico Médico</h4>
			<hr>
			<div class="row">
				<%= consult.input :diagnostico, as: :text, label: 'Diagnóstico', wrapper_html: { class: 'col-md-12'},input_html: { disabled: true, :rows => 3} %>
			</div>
			<div class="form-button">
				<%= link_to "Agregar Control", consultas_consulta_from_ficha_path(area: consulta.area_id, paciente: consulta.paciente_id, profesional: consulta.doctor_id), class: "btn btn-custom", remote: true %>
			</div>

		<% end %>

	</div>
</div>
<script type="text/javascript">

	consultasNutriPediatricasUI.initScript();

	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>

	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>
</script>


