<%id=consulta.id%>
<div class="row">
   <%= data('Profesional de la Salud', consulta.doctor_full_name,'col-xs-9') %>
   <%= data('Fecha', date(consulta.fecha),'col-xs-3') %>
</div>

<ul class="nav nav-tabs">
   <li><a href="#dat-<%=id%>">I - Datos</a></li>
   <li><a href="#enf-<%=id%>">II - Enfermedades</a></li>
   <li><a href="#pac-fem-<%=id%>">III - Paciente Femenino</a></li>
   <li><a href="#exa-com-<%=id%>">IV - Exámenes Complementarios</a></li>
</ul>

<div class="tabs-content">
   <div id="dat-<%=id%>">
      <div class="row">
         <%= data_text('Motivo de Consulta', consulta.motivo_consulta,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data_text('Observaciones', consulta.observaciones,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data_text('Servicio que utiliza en el CENADE', consulta.servicio_cenade,'col-xs-6') %>
         <%= data_text('Medicación Actual', consulta.medicacion_actual,'col-xs-6') %>
      </div>
   </div>
   <div id="enf-<%=id%>">
      <h4>¿Es alérgico o ha reaccionado de manera adversa a?</h4>
      <div class="row">
         <%= data('Anestésico Local', consulta.anestesico,'col-xs-4') %>
         <%= data('Penicilina', consulta.penicilina,'col-xs-4') %>
         <%= data('Otros medicamentos', consulta.otros_medicamentos,'col-xs-4') %>
      </div>
      <div class="row top-border">
         <%= data('¿Tuvo hemorragias anormales?', consulta.hemorragias,'col-xs-6') %>
         <%= data('¿Sufre de alguna enfermedad cardiovascular?', consulta.enfermedad_cardiovascular,'col-xs-6') %>
      </div>
      <div class="row top-border"></div>
      <h4>¿Presenta algunas de estas enfermedades?</h4>
      <div class ="row">
         <%=checkbox('Diabetes',consulta.diabetes, 'col-xs-2')%>
         <%=checkbox('Tuberculosis',consulta.tuberculosis, 'col-xs-3')%>
         <%=checkbox('Hepatitis',consulta.hepatitis, 'col-xs-3')%>
         <%=checkbox('Artritis',consulta.artritis, 'col-xs-2')%>
         <%=checkbox('Fumador',consulta.fumador, 'col-xs-2')%>
      </div>
      <div class ="row">
         <%=checkbox('Enfermedades sanguíneas',consulta.enfermedades_sanguineas, 'col-xs-3')%>
         <%=checkbox('Enfermedades neurológicas',consulta.enfermedades_neurologicas, 'col-xs-3')%>
         <%=checkbox('Enfermedades renales',consulta.enfermedades_renales, 'col-xs-3')%>
         <%=checkbox('Enfermedades venéreas',consulta.enfermedades_venereas, 'col-xs-3')%>
      </div>
      <div class="row top-border">
         <%= data('¿Presentó algún problema serio asociado con el tratamiento odontológico?', consulta.problema_tratamiento,'col-xs-12') %>
      </div>
   </div>
   <div id="pac-fem-<%=id%>">
      <div class="row">
         <%= data('Menstruacion', consulta.menstruacion,'col-xs-6') %>
         <%= data('¿Está embarazada?', consulta.menstruacion,'col-xs-6') %>
      </div>
      <div class="row">
         <%= data('¿Tiene hijos?', consulta.tiene_hijos,'col-xs-4') %>
         <%= data('¿Cuantos?', consulta.cantidad_hijos,'col-xs-4') %>
         <%= data('¿Amamanta?', consulta.amamanta,'col-xs-4') %>
      </div>
      <div class="row top-border">
         <%= data('¿Ha sido hospitalizado alguna vez?', consulta.hospitalizado,'col-xs-5') %>
         <%= data('Causa', consulta.causa_hospitalizado,'col-xs-7') %>
      </div>
   </div>
   <div id="exa-com-<%=id%>">
      <div class="row">
         <%= data('ECG', consulta.ecg,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('TAC', consulta.tac,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('RX', consulta.rx,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('Laboratorios', consulta.laboratorios,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('Otros exámenes', consulta.otros_examenes,'col-xs-12') %>
      </div>
   </div>
</div>
<br>
<div class="row">
   <%= data_text('V - Tratamiento', consulta.tratamiento,'col-xs-12') %>
</div>