 <div class="page-title page-title-sin-submenu">
      <%=paciente.id.nil? ? 'Nuevo Paciente' : 'Editar Paciente'%>

      <div class="tool tool-sin-buscador">
        <%= link_to '<i class="fa fa-list" data-toggle="tooltip" title="Lista de Pacientes"></i> '.html_safe, pacientes_path %>
      </div>
</div>
<div class="content content-sin-submenu content-70">
<div class="form-content">
    <%= form_for paciente, html: {class: 'form-paciente form-sin-submenu'} do |pacient|%>
    	<!-- Se debe pasar paciente del form al render, o sino dirá que paciente no existe y en el partial se lo necesita -->
    	<%= render 'form_fields', pacient: pacient, paciente: paciente %>

		<div class="form-button">
			<%= pacient.submit 'Guardar', class: 'btn btn-custom', id: 'new-paciente-submit',data: {disable_with: "Guardando..."}%>
		</div>

	<% end %>
</div>
</div>
<script type="text/javascript">
	pacientesUI.initScript();

	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>
	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

</script>