<div class="page-title page-title-sin-submenu">
		Pacientes

		<div class="tool">
			<%= search_form_for @search, class: 'buscador', remote: true do |f| %>
			<div class="input-group">
				<%= f.search_field :persona_nombre_or_persona_apellido_or_persona_ci_cont, placeholder: " Buscar por Nombre, Apellido o CI", class: "form-control", autofocus: true%>
				<span class="fa fa-search"></span>
				<div class="input-group-btn">
					<%= link_to '<i class="fa fa-plus-square" data-toggle="tooltip" title="Nuevo Paciente"></i> '.html_safe, new_paciente_path, remote: true%>
					<%= link_to '<i class="fa fa-print" data-toggle="tooltip" title="Imprimir Lista de Pacientes"></i> '.html_safe, pacientes_print_pacientes_path(:format => :pdf), target: '_blank'%>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<div class="content content-sin-submenu">
	<div class="list-content">
	<div id="list">
		<%= render 'list', pacientes: @pacientes %>
	</div>

	<div id="list-paginate">
		<%= paginate @pacientes, remote: true %>
	</div>
	</div>
</div>

<script type="text/javascript">
	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>
	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

</script>
