<table class= "table table-condensed">
  <thead>
    <tr>
      <th colspan="8" scope="col"> <h4 class="title">LISTA DE PACIENTES</h4></th>
    </tr>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>C.I</th>
      <th class="col-md-4">Direccion</th>
      <th class="col-md-2">Telefono</th>
      <th class="col-md-2">Fec. de Ingreso</th>
    </tr>
  </thead>
  <% if @pacientes.blank? %>
    <tfoot>
      <tr>
        <th colspan="8" scope="col">No se encontraron coincidencias </th>
      </tr>
    </tfoot>
   <% end %>
  <tbody>
    <%i=0%>
    <% @pacientes.each do |paciente| %>
    <%i=i+1%>
    <tr>
      <td><%=i%></td>
      <td><%=paciente.persona_nombre %></td>
      <td><%=paciente.persona_apellido %></td>
      <td><%=paciente.persona_ci %></td>
      <td class="crop"><%=paciente.persona_direccion %></td>
      <td class="crop"><%=paciente.persona_telefono %></td>
      <td><%=Formatter.format_date(paciente.fecha_ingreso) %></td>
    </tr>
    <% end %>
  </tbody>
</table>