<% if consultas_ped.blank? %>
    <%= panel_head('Consulta Pediátrica (No tiene)') %>
<% else %>
    <%= panel_begin('Consulta Pediátrica') %>
        <ul class="nav nav-tabs">
            <%active=true%>
            <% consultas_ped.each do |c| %>
                <%=tab_head("consulta-pediatrica-#{c.id}",date(c.fecha),active)%>
                <%active=false%>
            <%end%>
        </ul>

        <div class="tab-content">
            <%active=true%>
            <% consultas_ped.each do |consulta| %>
                <%=tab_body("consulta-pediatrica-#{consulta.id}",active)%>
                    <div class="row">
                       <%= data('Profesional de la Salud', consulta.doctor_full_name,'col-md-9') %>
                       <%= data('Fecha', date(consulta.fecha),'col-md-3') %>
                    </div>

                    <div class="row">
                        <%= data('I - Encargado', consulta.encargado,'col-md-12') %>
                    </div>

                    <ul class="nav nav-tabs">
                        <%=tab_head("valoracion-desarrollo-#{consulta.id}",'II - Valoración del Desarrollo',true)%>
                        <%=tab_head("alimentacion-actual-#{consulta.id}",'III - Alimentación Actual',false)%>
                        <%=tab_head("signos-sintomas-#{consulta.id}",'IV - Signos y/o Síntomas',false)%>
                        <%=tab_head("datos-antropometricos-#{consulta.id}",'V - Datos Antropométricos',false)%>
                    </ul>
                    <div class="tab-content">
                        <%=tab_body("valoracion-desarrollo-#{consulta.id}",true)%>
                            <div class="row">
                                <%= data('Sostén Cefálico', consulta.sosten_cefalico,'col-md-12') %>
                             </div>
                             <div class="row">
                                <%= data('Se sentó a los', consulta.sento,'col-md-4') %>
                                <%= data('Se paró a los', consulta.paro,'col-md-4') %>
                                <%= data('Caminó a los', consulta.camino,'col-md-4') %>
                             </div>
                             <div class="row">
                                <%= data('¿Busca Sonido?', consulta.busca_sonido,'col-md-4') %>
                                <%= data('¿Emite Sonido?', consulta.emite_sonido,'col-md-4') %>
                                <%= data('¿Rie - Llora?', consulta.rie_llora,'col-md-4') %>
                             </div>
                             <div class="row">
                                <%= data('¿Sigue la luz u objetos coloridos?', consulta.sigue_luz,'col-md-5') %>
                                <%= data('¿Mastica - Deglute?', consulta.mastica_deglute,'col-md-7') %>
                             </div>
                             <div class="row">
                                <%= data('Habilidades presentes y/o ausentes para la edad', consulta.habilidades,'col-md-12') %>
                             </div>
                             <div class="row">
                                <%= data_text('Otros', consulta.otros,'col-md-12') %>
                             </div>
                        <%=tab_end%>

                        <%=tab_body("alimentacion-actual-#{consulta.id}",false)%>
                            <div class="row">
                                <%= data('Desayuno', consulta.desayuno,'col-md-12') %>
                             </div>
                             <div class="row">
                                <%= data('Media Mañana', consulta.media_manana,'col-md-12') %>
                             </div>
                             <div class="row">
                                <%= data('Almuerzo', consulta.almuerzo,'col-md-12') %>
                             </div>
                             <div class="row">
                                <%= data('Merienda', consulta.merienda,'col-md-12') %>
                             </div>
                             <div class="row">
                                <%= data('Cena', consulta.cena,'col-md-12') %>
                             </div>
                        <%=tab_end%>

                        <%=tab_body("signos-sintomas-#{consulta.id}",false)%>
                            <div class="row">
                                <%= data('Diarrea', consulta.diarrea,'col-md-4') %>
                                <%= data('Vómitos', consulta.vomitos,'col-md-4') %>
                                <%= data('Fiebre', consulta.fiebre,'col-md-4') %>
                             </div>
                             <div class="row">
                                <%= data('Problemas Respiratorios', consulta.problemas_respiratorios,'col-md-6') %>
                                <%= data('Distención abdominal', consulta.distension_abdominal,'col-md-6') %>
                             </div>
                             <div class="row">
                                <%= data('Constipación', consulta.constipacion,'col-md-4') %>
                                <%= data('Orina', consulta.orina,'col-md-4') %>
                                <%= data('Sudor', consulta.sudor,'col-md-4') %>
                             </div>
                             <div class="row">
                                <%= data('Otros', consulta.otros2,'col-md-12') %>
                             </div>
                        <%=tab_end%>

                        <%=tab_body("datos-antropometricos-#{consulta.id}",false)%>
                            <div class="row">
                                <%= data('Talla', consulta.talla,'col-md-6') %>
                                <%= data('Peso', consulta.peso,'col-md-6') %>
                             </div>
                             <div class="row">
                                <%= data('PC', consulta.pc,'col-md-4') %>
                                <%= data('IMC', consulta.imc,'col-md-4') %>
                                <%= data('CM', consulta.cm,'col-md-4') %>
                             </div>
                        <%=tab_end%>
                    </div>

                    <br>
                    <div class="row">
                        <%= data_text('VI - Diagnóstico', consulta.diagnostico,'col-md-12') %>
                    </div>
                <%=tab_end%>
                <%active=false%>
            <%end%>
        </div>
    <%= panel_end %>
<% end %>
