<%id=consulta_ad.id%>

<div class="row">
   <%= data('Profesional de la Salud', consulta_ad.doctor_full_name,'col-xs-9') %>
   <%= data('Fecha', date(consulta_ad.fecha),'col-xs-3') %>
</div>

<div class="row">
   <%= data_text('I - Motivo de consulta', consulta_ad.motivo_consulta,'col-xs-12') %>
</div>

<ul class="nav nav-tabs">
   <li><a href="#con-ad-adu-<%=id%>-dat-ant">II - Datos Antropométricos</a></li>
   <li><a href="#con-ad-adu-<%=id%>-ana-ali">III - Anamnesis Alimentaria</a></li>
   <li><a href="#con-ad-adu-<%=id%>-rec">IV - Recuento de 24 horas</a></li>
</ul>

<div class="tabs-content">
   <div id="con-ad-adu-<%=id%>-dat-ant">
      <div class="row">
         <%= data('Peso actual', consulta_ad.peso_actual,'col-xs-4') %>
         <%= data('Peso ideal', consulta_ad.peso_ideal,'col-xs-4') %>
         <%= data('Peso deseable', consulta_ad.peso_deseable,'col-xs-4') %>
      </div>
      <div class="row">
         <%= data('Talla', consulta_ad.talla,'col-xs-4') %>
         <%= data('Biotipo', consulta_ad.biotipo,'col-xs-4') %>
         <%= data('I.M.C.', consulta_ad.imc,'col-xs-4') %>
      </div>
      <div class="row">
         <%= data('Circ. muñeca', consulta_ad.cir_muneca,'col-xs-4') %>
         <%= data('Circ. brazo', consulta_ad.circ_brazo,'col-xs-4') %>
         <%= data('Circ. cintura/cadera', consulta_ad.circ_cintura,'col-xs-4') %>
      </div>
   </div>

   <div id="con-ad-adu-<%=id%>-ana-ali">
      <div class="row">
         <%= data('¿Toma medicamentos?', consulta_ad.medicamentos,'col-xs-5') %>
         <%= data('¿Toma suplementos vitaminicos/minerales?', consulta_ad.suplementos,'col-xs-7') %>
      </div>
      <div class="row">
         <%= data('Su apetito es', consulta_ad.apetito,'col-xs-3') %>
         <%= data('Factores que afectan el apetito', consulta_ad.factores_apetito,'col-xs-9') %>
      </div>
      <div class="row">
         <%= data('¿Tiene alergia o intolerancia a algún alimento?', consulta_ad.alergia_intolerancia,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('Estado bucal (dientes, lengua, paladar)', consulta_ad.estado_bucal,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('¿Orina bien?', consulta_ad.orina_bien,'col-xs-6') %>
         <%= data('¿Va bien de cuerpo?', consulta_ad.ir_cuerpo,'col-xs-6') %>
      </div>
      <div class="row">
         <%= data('¿Realiza actividades físicas?', consulta_ad.actividades_fisicas? ? 'Si' : 'No','col-xs-4') %>
      </div>
      <% if consulta_ad.actividades_fisicas %>
      <div class="row">
         <%= data('Tipos', consulta_ad.tipo,'col-xs-5') %>
         <%= data('Horas', consulta_ad.hs_act_fisicas,'col-xs-3') %>
         <%= data('Frecuencias', consulta_ad.frecuencia,'col-xs-4') %>
      </div>
      <% end %>
      <div class="row">
         <%= data('Actividad Laboral', consulta_ad.actividad_laboral,'col-xs-9') %>
         <%= data('Horas', consulta_ad.horas_laborales,'col-xs-3') %>
      </div>
      <div class="row">
         <%= data('¿Vive consulta_ad su familia?', consulta_ad.vive_con,'col-xs-4') %>
         <%= data('¿Quién prepara los alimentos?', consulta_ad.quien_prepara,'col-xs-8') %>
      </div>
      <div class="row">
         <%= data('¿Qué elementos cuenta para cocinar?', consulta_ad.que_elementos,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('¿Cuántos litros de agua bebe?', consulta_ad.toma_agua,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('Mastica - Deglute', consulta_ad.mastica_deglute,'col-xs-4') %>
         <%= data('¿Dificultad para beber o absorber?', consulta_ad.dificultad_beber,'col-xs-8') %>
      </div>
      <div class="row">
         <%= data('¿A qué hora se acuesta?', consulta_ad.hora_acuesta,'col-xs-4') %>
         <%= data('¿A qué hora se levanta?', consulta_ad.hora_levanta,'col-xs-4') %>
         <%= data('¿Duerme bien?', consulta_ad.duerme_bien,'col-xs-4') %>
      </div>
      <div class="row">
         <%= data('Habilidades presentes o ausentes', consulta_ad.habilidades,'col-xs-12') %>
      </div>
      <div class="row">
         <%= data('Tratamientos que realiza dentro del CENADE consulta_ad otros especialistas', consulta_ad.tratamientos_cenade,'col-xs-12') %>
      </div>
   </div>

   <div id="con-ad-adu-<%=id%>-rec">
      <h4>Desayuno</h4>
      <div class="row">
         <%= data_text('Alimentos consumidos', consulta_ad.alim_desayuno,'col-xs-10') %>
         <%= data_text('Cantidad', consulta_ad.cant_desayuno,'col-xs-2') %>
      </div>
      <div class="row">
         <%= data_text('Modo de preparación', consulta_ad.modo_desayuno,'col-xs-7') %>
         <%= data_text('Lugar de consumo', consulta_ad.lugar_desayuno,'col-xs-5') %>
      </div>
      <h4>Media Mañana</h4>
      <div class="row">
         <%= data_text('Alimentos consumidos', consulta_ad.alim_media,'col-xs-10') %>
         <%= data_text('Cantidad', consulta_ad.cant_media,'col-xs-2') %>
      </div>
      <div class="row">
         <%= data_text('Modo de preparación', consulta_ad.modo_media,'col-xs-7') %>
         <%= data_text('Lugar de consumo', consulta_ad.lugar_media,'col-xs-5') %>
      </div>
      <h4>Almuerzo</h4>
      <div class="row">
         <%= data_text('Alimentos consumidos', consulta_ad.alim_almuerzo,'col-xs-10') %>
         <%= data_text('Cantidad', consulta_ad.cant_almuerzo,'col-xs-2') %>
      </div>
      <div class="row">
         <%= data_text('Modo de preparación', consulta_ad.modo_almuerzo,'col-xs-7') %>
         <%= data_text('Lugar de consumo', consulta_ad.lugar_almuerzo,'col-xs-5') %>
      </div>
      <h4>Merienda</h4>
      <div class="row">
         <%= data_text('Alimentos consumidos', consulta_ad.alim_merienda,'col-xs-10') %>
         <%= data_text('Cantidad', consulta_ad.cant_merienda,'col-xs-2') %>
      </div>
      <div class="row">
         <%= data_text('Modo de preparación', consulta_ad.modo_merienda,'col-xs-7') %>
         <%= data_text('Lugar de consumo', consulta_ad.lugar_merienda,'col-xs-5') %>
      </div>
      <h4>Cena</h4>
      <div class="row">
         <%= data_text('Alimentos consumidos', consulta_ad.alim_cena,'col-xs-10') %>
         <%= data_text('Cantidad', consulta_ad.cant_cena,'col-xs-2') %>
      </div>
      <div class="row">
         <%= data_text('Modo de preparación', consulta_ad.modo_cena,'col-xs-7') %>
         <%= data_text('Lugar de consumo', consulta_ad.lugar_cena,'col-xs-5') %>
      </div>
   </div>
</div>

<br>
<div class="row">
   <%= data_text('V - Diagnóstico Médico', consulta_ad.dx,'col-xs-12') %>
</div>
<div class="row">
   <%= data_text('VI - Evaluación Nutricional', consulta_ad.evaluacion,'col-xs-12') %>
</div>
<div class="row">
   <%= data_text('VII - Indicaciones', consulta_ad.indicaciones,'col-xs-12') %>
</div>