<% if controles.blank? %>
  <%=panel_head('Controles (No tiene)')%>
<% else %>
  <%=panel_begin('Controles')%>
    <ul class="nav nav-tabs">
        <% controles.each do |c| %>
            <li><a href="#control-<%=c.id%>"><%= date(c.fecha)%></a></li>
        <% end %>
    </ul>

    <div class="tabs-content">
      <% controles.each do |control| %>
        <div id="control-<%= control.id%>">
          <div class="row">
            <%= data('Profesional de la Salud', control.doctor_full_name,'col-xs-9') %>
            <%= data('Fecha', date(control.fecha),'col-xs-3') %>
          </div>
          <div class="row">
            <%= h_data_text('Tratamiento', control.tratamiento,'col-xs-12') %>
            <%= h_data_text('Observaciones', control.observaciones,'col-xs-12') %>
          </div>
        </div>
      <% end %>
    </div>
  <%=panel_end%>
<% end %>