<% if consultas_ped.blank? && consultas_ad.blank? %>
  <%=panel_head('Consultas (No tiene)')%>
<% else %>
  <%=panel_begin('Consultas')%>
    <ul class="nav nav-tabs">
      <% unless consultas_ped.blank? %>
        <li><a href="#consulta-pediatrica">Pediátrica</a></li>
      <% else %>
        <li class="tab-head-empty"><a href>Pediátrica (No tiene)</a></li>
      <% end %>
      <% unless consultas_ad.blank? %>
        <li><a href="#consulta-adulto">Adulto</a></li>
      <% else %>
        <li class="tab-head-empty"><a href>Adulto (No tiene)</a></li>
      <% end %>
    </ul>

    <div class="tabs-content">
      <% unless consultas_ped.blank? %>
        <div id="consulta-pediatrica">
          <%=render 'atenciones_profesionales/nutricion/data_consultas_ped',consultas_ped: consultas_ped%>
        </div>
      <% end %>
      <% unless consultas_ad.blank? %>
        <div id="consulta-adulto">
          <%=render 'atenciones_profesionales/nutricion/data_consultas_ad', consultas_ad: consultas_ad%>
        </div>
      <% end %>
    </div>
  <%=panel_end%>
<% end %>