<!--Renderiza un tab para nuevo control, si el turno esta pendiente
    Renderiza los datos de cada control dentro de tabs
-->
<ul class="nav nav-tabs">
  <% if turno.pendiente? %>
    <li><a href="#control-new"><span class="fa fa-plus"></span> Nuevo Control</a></li>
  <% end %>

  <% controles.each do |c| %>
    <li><a href="#control-<%=c.id%>"><%= date(c.fecha)%></a></li>
  <% end %>
</ul>

<div class="tabs-content">
  <% if turno.pendiente? %>
    <div id="control-new">
      <%=render 'atenciones_profesionales/nutricion/new_control', turno: turno%>
    </div>
  <% end %>

  <% controles.each do |control| %>
    <div id="control-<%= control.id%>">
      <%=render 'atenciones_profesionales/nutricion/data_control',control: control%>
    </div>
  <% end %>
</div>
