	<div class="page-title page-title-con-sidebar">
		<%=consulta.id.nil? ? 'Nueva Consulta' : 'Editar Consulta'%>

		<div class="tool tool-sin-buscador">
			<%= link_to '<i class="fa fa-list" data-toggle="tooltip" title="Lista de Consultas"></i> '.html_safe, consultas_nutricionales_adultos_path %>
		</div>

	</div>

<div class="content">
	<div class="form-content">
		<%= simple_form_for consulta, html: {class: 'form-consulta'}, remote: true do |consult|%>
			<%= hidden_field_tag :consulta_id, consulta.id, class: 'consulta-id'%>

			<h4 class="titulo-ficha">Consulta en Nutrición Adulto</h4>

			<div class="row">
				<!-- Si el form se renderiza desde la ficha, para agregar una consulta, paciente aparece desactivado, con el hidden_field se asegura que se envíe su id -->
        <% if from_ficha %>
          <%= consult.hidden_field :paciente_id, value: paciente.id%>
        <% end %>

        <%= consult.input :paciente_id, collection: paciente.id.nil? ? [] : [[paciente.persona_full_name,paciente.id]], label: '* Paciente', wrapper_html: { class: 'col-xs-4'},input_html:  { class: 'required select-paciente select2 pacienteHasNotFicha paciente-id',disabled: paciente.id.nil? ? false : true} %>

		    <%= consult.hidden_field :ficha_nutricional_adulto_id, value: from_ficha ? ficha : nil, class: 'ficha-id'%>

				<%= consult.input :doctor_id, collection: doctores.collect { |a| [a.full_name, a.id] }, label: '* Profesional de la Salud', wrapper_html: { class: 'col-xs-5' }, input_html:   { class: 'required select-doctor select2'} %>

				<%= consult.input :fecha, as: :string, label: '* Fecha', wrapper_html: { class: 'col-xs-3'}, input_html: { class: 'date datepicker dateLessSystemDate required', maxLength: Domain::FECHA, value:Formatter.format_date(consulta.fecha)}, required: false %>
			</div>

			<div id="paciente-data">
				<%= render 'form_paciente', paciente: paciente%>
			</div></br>

			<h4>II- Datos de la Consulta</h4>
			<hr>
			<div class="row">
				<%= consult.input :motivo_consulta, as: :text, label: 'Motivo de Consulta', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC250} %>
			</div></br>

			<h4>III- Datos Antropométricos</h4>
			<hr>
			<div class="row">
				<%= consult.input :peso_actual, label: 'Peso Actual:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC10} %>
				<%= consult.input :peso_ideal, label: 'Peso ideal:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC10} %>
				<%= consult.input :peso_deseable, label: 'Peso deseable:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC10} %>
			</div>
			<div class="row">
				<%= consult.input :talla, label: 'Talla:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC10} %>
				<%= consult.input :biotipo, label: 'Biotipo:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
				<%= consult.input :imc, label: 'I.M.C:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
			</div>

			<div class="row">
				<%= consult.input :cir_muneca, label: 'Circ. Muñeca:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
				<%= consult.input :circ_brazo, label: 'Circ. Brazo:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
				<%= consult.input :circ_cintura, label: 'Circ. Cintura/Cadera:', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
			</div> </br>

			<h4>IV- Anamnesis Alimentaria</h4>
			<hr>
			<div class="row">
				<%= consult.input :medicamentos, label: 'Toma medicamentos?', wrapper_html: { class: 'col-xs-5'},input_html: { maxLength: Domain::DESC100} %>
				<%= consult.input :suplementos, label: 'Toma suplementos vitaminicos/minerales?:', wrapper_html: { class: 'col-xs-7'},input_html: { maxLength: Domain::DESC50} %>
			</div>
			<div class="row">
				<%= consult.input :apetito, label: 'Su apetito es:', wrapper_html: { class: 'col-xs-3'}, collection: [ "Bueno", "Regular", "Malo"] %>
				<%= consult.input :factores_apetito, label: 'Factores que afectan el apetito:', wrapper_html: { class: 'col-xs-9'},input_html: { maxLength: Domain::DESC150} %>
			</div>
			<div class="row">
				<%= consult.input :alergia_intolerancia, label: 'Tiene alergia o intolerancia a algún alimento?', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC150} %>
			</div>
			<div class="row">
				<%= consult.input :estado_bucal, as: :text, label: 'Estado bucal (dientes, lengua, paladar)', wrapper_html: { class: ' col-xs-12'},input_html: {:rows => 2, maxLength: Domain::DESC250} %>
			</div>
			<div class="row">
				<%= consult.input :orina_bien, label: 'Orina bien ?', wrapper_html: { class: 'col-xs-3'},input_html: { maxLength: Domain::DESC50} %>
				<%= consult.input :ir_cuerpo, label: 'Va bien de cuerpo ?', wrapper_html: { class: 'col-xs-9'},input_html: { maxLength: Domain::DESC50} %>
			</div>
			<div class="row">
				<%= consult.input :actividades_fisicas, label: 'Realiza actividades físicas', collection: [['Sí', true] ,['No', false]], wrapper_html: { class: ' col-xs-12 show-actividad'}, as: :radio_buttons, item_label_class: "radio-inline" %>
			</div>
			<div class="hide_actividades">
				<div class="row">
					<%= consult.input :tipo, label: 'Tipos', wrapper_html: { class: 'col-xs-5'},input_html: { maxLength: Domain::DESC100} %>
					<%= consult.input :hs_act_fisicas, label: 'Horas', wrapper_html: { class: 'col-xs-3'},input_html: { maxLength: Domain::DESC10} %>
					<%= consult.input :frecuencia, label: 'Frecuencias', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
				</div>
			</div>
			<div class="row">
				<%= consult.input :actividad_laboral, label: 'Actividad Laboral:', wrapper_html: { class: 'col-xs-9'},input_html: { maxLength: Domain::DESC150} %>
				<%= consult.input :horas_laborales, label: 'Horas', wrapper_html: { class: 'col-xs-3'},input_html: { maxLength: Domain::DESC50} %>
			</div>
			<div class="row">
				<%= consult.input :vive_con, label: 'Vive con su familia?', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC100} %>
				<%= consult.input :quien_prepara, label: 'Quién prepara los alimentos?', wrapper_html: { class: 'col-xs-8'},input_html: { maxLength: Domain::DESC50} %>
			</div>
			<div class="row">
				<%= consult.input :que_elementos, label: 'Qué elementos cuenta para cocinar?', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC150} %>
			</div>
			<div class="row">
				<%= consult.input :toma_agua, label: 'Cuántos litros de agua bebe?', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC100} %>
			</div>
			<div class="row">
				<%= consult.input :mastica_deglute, label: 'Mastica - Deglute', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
				<%= consult.input :dificultad_beber, label: 'Dificultad para beber o absorber?', wrapper_html: { class: 'col-xs-8'},input_html: { maxLength: Domain::DESC100} %>
			</div>
			<div class="row">
				<%= consult.input :hora_acuesta, label: 'A qué hora se acuesta?', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC10} %>
				<%= consult.input :hora_levanta, label: 'A qué hora se levanta?', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC10} %>
				<%= consult.input :duerme_bien, label: ' Duerme bien?', wrapper_html: { class: 'col-xs-4'},input_html: { maxLength: Domain::DESC50} %>
			</div>
			<div class="row">
				<%= consult.input :habilidades, label: 'Habilidades presentes o ausentes:', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC150} %>
			</div>
			<div class="row">
				<%= consult.input :tratamientos_cenade, label: 'Tratamientos que realiza dentro del CENADE con otros especialistas:', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC150} %>
			</div></br>

			<h4>V- Recuento de 24 horas. </h4>
			<hr>

			<div class="panel panel-default">
			  <div class="panel-heading"> Recuento Detallado</div>
			  	<div class="panel-body">
			  		<h4 align= "center">Desayuno</h4>
					<hr>
			  		<div class="row">
						<%= consult.input :alim_desayuno, as: :text, label: 'Alimentos Consumido', wrapper_html: { class: 'col-xs-10'},input_html: { maxLength: Domain::DESC200, :rows => 2} %>
						<%= consult.input :cant_desayuno, as: :text, label: 'Cantidad', wrapper_html: { class: 'col-xs-2'},input_html: {:rows => 2,  maxLength: Domain::DESC50} %>

					</div>
					<div class="row">
						<%= consult.input :modo_desayuno, as: :text, label: 'Modo de prepación', wrapper_html: { class: 'col-xs-7'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
						<%= consult.input :lugar_desayuno, as: :text, label: 'Lugar de consumo', wrapper_html: { class: 'col-xs-5'},input_html: {:rows => 2,  maxLength: Domain::DESC250} %>

					</div></br>
					<h4 align= "center">Media Mañana</h4>
					<hr>
					<div class="row">
						<%= consult.input :alim_media, as: :text, label: 'Alimentos Consumido', wrapper_html: { class: 'col-xs-10'},input_html: { maxLength: Domain::DESC200, :rows => 2} %>
						<%= consult.input :cant_media, as: :text, label: 'Cantidad', wrapper_html: { class: 'col-xs-2'},input_html: {:rows => 2,  maxLength: Domain::DESC50} %>

					</div>
					<div class="row">
						<%= consult.input :modo_media, as: :text, label: 'Modo de prepación', wrapper_html: { class: 'col-xs-7'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
						<%= consult.input :lugar_media, as: :text, label: 'Lugar de consumo', wrapper_html: { class: 'col-xs-5'},input_html: {:rows => 2,  maxLength: Domain::DESC250} %>

					</div></br>
					<h4 align= "center">Almuerzo</h4>
					<hr>
					<div class="row">
						<%= consult.input :alim_almuerzo, as: :text, label: 'Alimentos Consumido', wrapper_html: { class: 'col-xs-10'},input_html: { maxLength: Domain::DESC200, :rows => 2} %>
						<%= consult.input :cant_almuerzo, as: :text, label: 'Cantidad', wrapper_html: { class: 'col-xs-2'},input_html: {:rows => 2,  maxLength: Domain::DESC50} %>

					</div>
					<div class="row">
						<%= consult.input :modo_almuerzo, as: :text, label: 'Modo de prepación', wrapper_html: { class: 'col-xs-7'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
						<%= consult.input :lugar_almuerzo, as: :text, label: 'Lugar de consumo', wrapper_html: { class: 'col-xs-5'},input_html: {:rows => 2,  maxLength: Domain::DESC250} %>

					</div></br>
					<h4 align= "center">Merienda</h4>
					<hr>
					<div class="row">
						<%= consult.input :alim_merienda, as: :text, label: 'Alimentos Consumido', wrapper_html: { class: 'col-xs-10'},input_html: { maxLength: Domain::DESC200, :rows => 2} %>
						<%= consult.input :cant_merienda, as: :text, label: 'Cantidad', wrapper_html: { class: 'col-xs-2'},input_html: {:rows => 2,  maxLength: Domain::DESC50} %>

					</div>
					<div class="row">
						<%= consult.input :modo_merienda, as: :text, label: 'Modo de prepación', wrapper_html: { class: 'col-xs-7'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
						<%= consult.input :lugar_merienda, as: :text, label: 'Lugar de consumo', wrapper_html: { class: 'col-xs-5'},input_html: {:rows => 2,  maxLength: Domain::DESC250} %>

					</div></br>
					<h4 align= "center">Cena</h4>
					<hr>
					<div class="row">
						<%= consult.input :alim_cena, as: :text, label: 'Alimentos Consumido', wrapper_html: { class: 'col-xs-10'},input_html: { maxLength: Domain::DESC200, :rows => 2} %>
						<%= consult.input :cant_cena, as: :text, label: 'Cantidad', wrapper_html: { class: 'col-xs-2'},input_html: {:rows => 2,  maxLength: Domain::DESC50} %>

					</div>
					<div class="row">
						<%= consult.input :modo_cena, as: :text, label: 'Modo de prepación', wrapper_html: { class: 'col-xs-7'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
						<%= consult.input :lugar_cena, as: :text, label: 'Lugar de consumo', wrapper_html: { class: 'col-xs-5'},input_html: {:rows => 2,  maxLength: Domain::DESC250} %>

					</div>
 				</div>
			</div></br>

			<div class="row">
				<%= consult.input :dx, as: :text, label: 'VI- Diagnóstico Médico', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
			</div></br>
			<div class="row">
				<%= consult.input :evaluacion, as: :text, label: 'VII- Evaluación Nutricional', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC250, :rows => 2} %>
			</div></br>

			<div class="row">
				<%= consult.input :indicaciones, as: :text, label: 'VIII- Indicaciones', wrapper_html: { class: 'col-xs-12'},input_html: { maxLength: Domain::DESC250, :rows => 3} %>
			</div>

			<div class="form-button">
				<%= consult.submit 'Guardar', class: 'btn btn-custom',data: {disable_with: "Guardando..."}%>
			</div>

		<% end %>

	</div>
</div>
<script type="text/javascript">

	consultasUI.initScript();

  pacientesUI.getPaciente({element: '.select-paciente', root: 'consultas_nutricionales_adultos'});

  consultasUI.showHiden();

  consultasUI.checkPacienteHasNotFicha("<%=consultas_check_paciente_has_not_ficha_path(area_nombre: 'Nutrición Adulto')%>");

	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>

	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>
</script>


