<% ficha = turno.paciente.ficha_pediatrica %>
<% consultas = Consulta.where(area_id: turno.area_id,paciente_id: turno.paciente.id).order(fecha: :desc).limit(7) %>
<div class="content content-sin-page-title">
   <div class="atencion-content">
      <h1 class="atencion-title">PEDIATRÍA</h1>

      <%=render 'atenciones_profesionales/data_paciente',paciente: turno.paciente%>

      <!-- Renderiza la ficha dentro de un panel -->
      <% if ficha.blank? %>
        <%= panel_head('Ficha (No tiene)') %>
      <% else %>
         <%= panel_begin('Ficha') %>
            <%=render 'atenciones_profesionales/compartido/data_fic_cli_neu_ped',ficha: ficha%>
         <%= panel_end %>
      <% end %>

      <!-- Renderiza los tabs para consultas dentro de un panel -->
      <% if consultas.blank? %>
        <%=panel_head('Consultas (No tiene)')%>
      <% else %>
         <%=panel_begin('Consultas')%>
            <%=render 'atenciones_profesionales/compartido/tabs_consultas',consultas: consultas,turno: turno%>
         <%=panel_end%>
      <% end %>
   </div>
</div>
