<div class="page-title page-title-con-sidebar">
	<%=ficha.id.nil? ? 'Nueva Ficha' : 'Editar Ficha'%>

	<div class="tool">
		<%= link_to '<i class="fa fa-list" data-toggle="tooltip" title="Lista de Fichas"></i> '.html_safe, fichas_pediatricas_path %>
	</div>

</div>

<div class="form-content2">

	<%= simple_form_for ficha, html: {class: 'form-ficha2'} do |fich|%>
	<%= hidden_field_tag :ficha_id, ficha.id, class: 'ficha-id'%>

	<h4 class="titulo-ficha">FICHA PEDIÁTRICA</h4>

	<div class="row">

		<%= fich.input :paciente_id, collection: Paciente.all.collect { |a| [a.persona_full_name, a.id] }, label: '* Paciente', wrapper_html: { class: paciente.id.nil? ? 'col-md-4' : 'col-md-5' }, input_html: { class: 'required select-paciente select2 uniquePacienteFicha paciente-id', disabled: paciente.id.nil? ? false : true} %>

		<% if paciente.id.nil? %>
			<%= link_to '<i class="fa fa-plus"></i> '.html_safe, pacientes_new_modal_path(root: 'fichas_pediatricas', encargado: false), class: 'btn btn-custom btn-add col-md-1', remote: true %>
		<% end %>


		<%= fich.input :doctor_id, collection: doctores.collect { |a| [a.abr_profesion+" "+a.persona_full_name, a.id] }, label: '* Profesional de la Salud', wrapper_html: { class: 'col-md-4' }, input_html:	 { class: 'required select-doctor select2'} %>

		<%= fich.input :fecha, as: :string, label: '* Fecha', wrapper_html: { class: 'col-md-3'}, input_html: { class: 'datepicker required', maxLength: Domain::FECHA, value:Formatter.format_date(ficha.fecha)} %>
	</div>

	<div id="paciente-data">
		<%= render 'form_paciente', paciente: paciente %>
	</div>

	<h4>Datos de la Ficha</h4>
	<hr>

	<div class="row">
		<%= fich.input :p, label: 'p', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :a, label: 'a', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :pc1, label: 'pc', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :pt1, label: 'pt', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :pa, label: 'pa', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>
	</div>
	<div class="row">
		<%= fich.input :control, label: 'Control Cefálico - Control de Tronco - Equilibrio - Marcha', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC250} %>
	</div>

	<h4>Antecedentes Gestacionales y Obstétricos</h4>
	<hr>
	<div class="row">
		<%= fich.input :gestacion, label: 'Gestación', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC100} %>

		<%= fich.input :paridad, label: 'Paridad', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC100} %>
	</div>

	<div class="row">
		<%= fich.input :abortos, label: 'Abortos', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC100} %>

		<%= fich.input :nacidos_muertos, label: 'Nacidos Muertos', wrapper_html: { class: 'col-md-6'}, input_html: { maxLength: Domain::DESC100} %>
	</div>

	<div class="row">
		<%= fich.input :control, label: 'Gestaciones y Partos Anteriores', wrapper_html: { class: 'col-md-12'}, input_html: { maxLength: Domain::DESC100} %>
	</div>

	<div class="row">
		<%= fich.input :gru_san_paciente, label: 'G. Sanguíneo', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :rh_paciente, label: 'Rh', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :coombs, label: 'Coombs', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :gru_san_padre, label: 'Padre G. Sanguíneo', wrapper_html: { class: 'col-md-3'}, input_html: { maxLength: Domain::DESC10} %>

		<%= fich.input :rh_padre, label: 'Rh', wrapper_html: { class: 'col-md-2'}, input_html: { maxLength: Domain::DESC10} %>
	</div>

	<div class="form-button">
		<%= fich.submit 'Guardar', class: 'btn btn-custom'%>
	</div>

	<% end %>
</div>

<script type="text/javascript">

	fichasPediatricasUI.initScript();

	pacientesUI.checkPacienteHasFicha("<%=fichas_pediatricas_check_paciente_has_ficha_path%>");

	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>

	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

</script>