<div class="content">
	<div class="page-title">
		Empleados 

		<div class="tool">
			<%= search_form_for @search, class: 'buscador', remote: true do |f| %>
			<div class="input-group"> 
				<%= f.search_field :persona_cont, placeholder: " Buscar por Nombre, Apellido o CI", class: "form-control", autofocus: true%>
				<span class="fa fa-search"></span>
				<div class="input-group-btn"> 
					<%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_empleado_path, :target => '_blank', remote: true %> 
					<%= link_to '<i class="fa fa-print"></i> '.html_safe, new_empleado_path, remote: true %> 					
				</div> 
			</div>
			<% end %>
		</div>
	</div>	

	<div id="list">
		<%= render 'list' %>
	</div>	

	<div id="list-paginate">
		<%= paginate @empleados, remote: true %>
	</div>
</div>	

<script type="text/javascript">
	<% if !flash.notice.blank? %>	
		var n = noty({text: '<%=notice%>', type: 'success'});		
	<% end %>
	<% if !flash.alert.blank?%>	
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

</script>
