<h5>LISTA DE EMPLEADOS</h5>

<table class= "table table-condensed">
  <thead>
    <tr>
      <th>Empleado</th>
      <th>C.I</th>
      <th>Direccion</th>
      <th class="col-md-1">Telefono</th>
      <th>Cargo</th>
      <th>Area</th>
    </tr>
  </thead>
  <% if @empleados.blank? %>
    <tfoot>
      <tr>
        <th colspan="8" scope="col">No se encontraron coincidencias </th>
      </tr>
    </tfoot>
   <% end %>
  <tbody>    
    <% @empleados.each do |empleado| %>
    <tr>
      <td><%=empleado.abr_profesion %>  <%=empleado.persona.nombre %> <%=empleado.persona.apellido %></td>
      <td><%=empleado.persona.ci %></td>
      <td class="crop"><%=empleado.persona.direccion %></td>
      <td ><%=empleado.persona.telefono %></td>
      <td><%=empleado.cargo %></td>
      <td>
          <% if not empleado.type == 'Funcionario' %>         
            <%=empleado.area.nombre %>
          <% end %>  
      </td>
    
    </tr>
    <% end %>   
  </tbody>
</table>