
<table class= "table table-condensed">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Interfaces permitidas</th>
      
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
    <tr>
      <td class="show-role"><%=role.name %></td>
      <td class="show-role"><% role.permissions.each do |p| %>
      <span class="label label-success"><%= p.nombre %></span>

        <%end%>
      </td>
      
      <td class = "action">
        
        <%= link_to '<i class="fa fa-eye fa-lg"></i> '.html_safe, role_path(role)%>     
        <%= link_to '<i class="fa fa-edit fa-lg"></i> '.html_safe, edit_role_path(role)%>        
        <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, role_path(role), method: 'delete', data: {confirm: "¿Desea eliminar el rol #{role.name}?"}%>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
    <% if !flash.notice.blank? %> 
      var n = noty({text: '<%=notice%>', type: 'success'});   
    <% end %>
    
    <% if !flash.alert.blank?%> 
      var n = noty({text: '<%=alert%>', type: 'error'});
    <% end %>
  r
</script>
