
<div class= "content">

	<div class="page-title">
		<div class= "row">
      		<div class="col-md-3">
        		Rol <%= @role.name%>
     		 </div>
      
        	<%= render 'layouts/messages'%>
      
     		 <div class="tool">
       			 <div class="col-lg-offset-6">
	        		<%= link_to '<i class="fa fa-list-ul"></i> '.html_safe, roles_path%>
	     		 
	        		<%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_role_path%>  

	        		<%= link_to '<i class="fa fa-edit"></i> '.html_safe, edit_role_path(@role.id)%> 

	        		<%= link_to '<i class="fa fa-trash-o"></i> '.html_safe, role_path(@role), method: 'delete', data: {confirm: "¿Desea eliminar el rol #{@role.name}?"}%>      		</div> 
	     		</div> 
			</div>
		 </div>
 
    <div class="row ">
		<div class= "col-md-5 col-md-offset-3" >
			<div id= "panel_form">
				<%= render 'form_show' %>
			</div>	
		</div>
	</div>
</div>