<div class="page-title page-title-con-sidebar">
	Fichas de Odontología

	<div class="tool">
		<%= search_form_for @search, class: 'buscador', remote: true do |f| %>
		<div class="input-group">
			<%= f.search_field :paciente_persona_nombre_or_paciente_persona_apellido_or_paciente_persona_ci_cont, placeholder: "Buscar por Nombre,Apellido o CI de Paciente", class: "form-control", autofocus: true%>
			<span class="fa fa-search"></span>
			<div class="input-group-btn">
				<a href="#"><i class="fa fa-search-plus" aria-hidden="true" id= "show-advanced-search" data-toggle="tooltip" data-placement="bottom" title="Búsqueda Avanzada"></i></a>
				<%= link_to '<i class="fa fa-plus-square" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Nueva Ficha"></i> '.html_safe, new_ficha_odontologica_path, remote: true %>
			</div>
		</div>
		<% end %>
	</div>
</div>

<div class= "content">

	<div id="advanced-search">
		<div class="row" >
			<%= search_form_for @search, url: search_fichas_odontologicas_path, method: :post, remote: true, class: 'form-filtros' do |f| %>
			<div class="row">

				<%= FormBuilder::text_field_v(f, :paciente_persona_nombre_or_paciente_persona_apellido_or_paciente_persona_ci_cont, {col_class: 'col-md-3', label_text: 'Paciente', input_class: '',  placeholder: "Nombre, Apellido o CI"})%>

				<%= FormBuilder::text_field_v(f, :doctor_persona_nombre_or_doctor_persona_apellido_cont, {col_class: 'col-md-3', label_text: 'Prof. de la Salud', input_class: '', placeholder: "Nombre o Apellido"})%>

				<%= FormBuilder::text_field_v(f, :nro_ficha_eq, {col_class: 'col-md-1', label_text: 'Ficha', input_class: ''})%>

				<%= FormBuilder::text_field_v(f, :fecha_eq, {col_class: 'col-md-2', label_text: 'Fecha', input_class: 'datepicker',max_length: Domain::FECHA})%>

				<div class= "advanced-search-buttons">
					<%= f.submit 'Filtrar', class: 'btn btn-custom '%>
					<%= f.submit 'Limpiar Campos', type: 'reset', class: 'btn btn-link'%>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<div class="list-content">
	<div id="list">
		<%= render 'list', fichas: @fichas%>
	</div>
	<div id="list-paginate">
		<%= paginate @fichas, remote: true %>
	</div>
</div>
</div>

