<% @submenu_layout = 'layouts/submenu_configuracion' %>
<% @sidebar_layout = 'layouts/sidebar_perfil_usuario'%>

<div class="page-title page-title-con-sidebar">
    Perfil de Usuario
</div>

<div class="content content-70">
<div class= "form-content">
  <%= hidden_field_tag :usuario_id, current_user.id %>

  <%= form_for current_user, url: {action: "update"}, html: {method: "put",class:' form-perfil medium-form'} do |f| %>

    <h4>Datos de Usuario</h4><hr>
    <div class="row">
      <%= FormBuilder::text_field_v(f, :username,
                                        input_class: 'required uniqueUsuarioUsername username nameMinLength',
                                        max_length: Domain::USERNAME,
                                        autofocus: true,
                                        col_class: 'col-md-6',
                                        label_text: '* Usuario') %>
      <div class= 'col-md-6 align-center'>
          <%= image_tag(current_user.profile_foto_url.to_s, class: "border-img") %>
          <div class="uploader_button">
          <%= f.file_field :profile_foto, class:"file_uploader" %>
          <label class="font-img">+Agregar Imagen </label>
          </div>
      </div></br>
    </div>

    <div class="row">
      <%= FormBuilder::password_field(f, :password,
                                        max_length: Domain::CONTRASEÑA,
                                        col_class: 'col-md-6',
                                        label_text: 'Contraseña') %>

      <%= FormBuilder::password_field(f, :password_confirmation,
                                        input_class: 'passwordEqual',
                                        max_length: Domain::CONTRASEÑA,
                                        col_class: 'col-md-6',
                                        label_text: 'Confirmar Contraseña') %>
    </div>
    <h4>Datos de Contacto</h4><hr>
    <div class="row">
      <div class="form-group col-md-12">
          <label class="control-label " for="user_username">* Direccion</label>
          <input class="form-control required clear " placeholder="" value="<%= @persona.direccion %>" maxlength="125" type="text" name="user[direccion]" id="user_direccion">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-5">

          <label class="control-label " for="user_username">Telefono</label>
          <input class="form-control telCheck" placeholder="" value="<%= @persona.telefono %>" maxlength="50" type="text" name="user[telefono]" id="user_telefono">
      </div>

      <div class="form-group col-md-7">
          <label class="control-label " for="user_username">* Email</label>
          <input class="form-control required clear emailCheck " placeholder=""  maxlength="50" type="text" value="<%= @persona.email %>" name="user[email]" id="user_email">
      </div>
    </div>

    <div class="form-button">
      <%= f.submit 'Guardar cambios', class: 'btn btn-custom', data: {disable_with: "Guardando..."}%>
    </div>
  <% end %>
</div>
</div>
<script type="text/javascript">

  <% if !flash.notice.blank? %>
    var n = noty({text: '<%=notice%>', type: 'success'});
  <% end %>
  <% if !flash.alert.blank?%>
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>

  perfilUI.initScript("<%= usuarios_check_username_path %>");
</script>





