<div class="page-title page-title-sin-submenu page-title-con-sidebar">
		Reporte Estadístico por Año

		<div class="tool">
			<%= search_form_for @search, class: 'buscador', remote: true do |f| %>
			<div class="input-group">
				<%= f.search_field :area_nombre_or_anho_cont, placeholder: "Buscar por Área o Mes", class: "form-control", autofocus: true%>
				<span class="fa fa-search"></span>
				<div class="input-group-btn">
					<a href="#"><i class="fa fa-search-plus" aria-hidden="true" id= "show-advanced-search" data-toggle="tooltip" data-placement="bottom" title="Búsqueda Avanzada"></i></a>
					<%= link_to '<i class="fa fa-print"></i> '.html_safe, reportes_estadisticos_print_path(:format => :pdf), target: '_blank'%>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<div class="content content-sin-submenu">

	<div id="advanced-search">
			<%= search_form_for @search, url: search_reportes_estadisticos_path, method: :post, remote: true, class: 'form-filtros' do |f| %>
			<div class="row">

				<%= FormBuilder::text_field_v(f, :doctor_persona_nombre_or_doctor_persona_apellido_cont, {col_class: 'col-md-3', label_text: 'Prof. de la Salud', input_class: '', placeholder: "Nombre o Apellido"})%>

				<%= FormBuilder::text_field_v(f, :anho_gteq, {col_class: 'col-md-3', label_text: 'Desde', input_class: 'datepickerAnho',placeholder: "Año",max_length: Domain::FECHA})%>

            	<%= FormBuilder::text_field_v(f, :anho_lteq, {col_class: 'col-md-3', label_text: 'Hasta', input_class: 'datepickerAnho', placeholder: "Año", max_length: Domain::FECHA})%>

				<div class= "advanced-search-buttons">
					<%= f.submit 'Filtrar', class: 'btn btn-custom '%>
					<%= f.submit 'Limpiar Campos', type: 'reset', class: 'btn btn-link'%>
				</div>
			</div>
			<% end %>
	</div>
	<div class="list-content">
		<div id="list">
			<%= render 'list_anho', reportes: @reportes%>
		</div>

		<div id="list-paginate">
			<%= paginate @reportes, remote: true %>
		</div>
	</div>
</div>

<script type="text/javascript">
	<% if !flash.notice.blank? %>
		var n = noty({text: '<%=notice%>', type: 'success'});
	<% end %>
	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

</script>
