<div class="page-title page-title-con-sidebar">

   Consultas

  <div class="tool">
    <%= search_form_for @search, class: 'buscador', remote: true do |f| %>
      <div class="input-group">
        <%= f.search_field :paciente_persona_nombre_or_paciente_persona_apellido_or_area_nombre_cont, placeholder: " Buscar por Paciente o Área ", class: "form-control", autofocus: true%>
        <span class="fa fa-search"></span>
        <div class="input-group-btn">
          <a href="#"><i class="fa fa-search-plus" aria-hidden="true" id= "show-advanced-search" data-toggle="tooltip" data-placement="bottom" title="Búsqueda Avanzada"></i></a>
          <%= link_to '<i class="fa fa-plus-square" aria-hidden="true" id= "show" data-toggle="tooltip" data-placement="bottom" title="Nueva Consulta"></i> '.html_safe, new_consulta_odontologica_path, remote: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <div class= "content2" style = 'margin-top: 100px;'>

    <div id="advanced-search" style="display: none;">
      <div class="row" >
       <%= search_form_for @search, url: search_consultas_odontologicas_path, method: :post, remote: true, class: 'form-filtros' do |f| %>
         <div class="row">

          <%= FormBuilder::text_field_v(f, :paciente_persona_nombre_or_paciente_persona_apellido_or_paciente_persona_ci_cont, {col_class: 'col-md-3', label_text: 'Paciente', input_class: '',  placeholder: "Nombre, Apellido o CI"})%>

          <%= FormBuilder::text_field_v(f, :doctor_persona_nombre_or_doctor_persona_apellido_cont, {col_class: 'col-md-3', label_text: 'Prof. de la Salud', input_class: '', placeholder: "Nombre o Apellido"})%>

          <%= FormBuilder::text_field_v(f, :fecha_gteq, {col_class: 'col-md-2', label_text: 'Desde', input_class: 'datepicker',max_length: Domain::FECHA})%>

          <%= FormBuilder::text_field_v(f, :fecha_lteq, {col_class: 'col-md-2', label_text: 'Hasta', input_class: 'datepicker',max_length: Domain::FECHA})%>

         <div class= "input-group pull-right" style = 'margin-top: 25px;'>
            <%= f.submit 'Filtrar', class: 'btn btn-custom '%>
            <%= f.submit 'Limpiar Campos', type: 'reset', class: 'btn btn-link'%>
         </div>
        </div>
      <% end %>
    </div></br>
  </div>
  <div id="list">

    <%= render 'list', consultas: @consultas %>
  </div>

  <div id="list-paginate" class="">
    <%= paginate @consultas, remote: true %>
  </div>
</div>

