<div class= "form-content">  
  <div class="page-title">
    <%=@role.id.nil? ? 'Nuevo Rol' : 'Editar Rol'%> 

    	<div class="tool">
      	<%= link_to '<i class="fa fa-list"></i> '.html_safe, roles_path %> 
    	</div>
  	</div>  


   <%= form_for @role,html: {class: 'nuevo-rol small-form'},:multipart => true do |role|%>
   
     <%= hidden_field_tag :role_id, @role.id %>
     <h4>Rol</h4>
    <hr>
        <div class="row">
            <%= FormBuilder::text_field_v(role, :name, 
                                      input_class: 'required name uniqueRoleName nameMinLength', 
                                      max_length: Domain::ROL,
                                      autofocus: true,
                                      col_class: 'col-md-12',
                                      label_text: '* Descripcion') %>
           
      	</div>
    		</br></br>
        	
        	<div class="row">
           	<div class="col-md-12">

           	<%= role.label :nombre, '* Permisos' %> 
           	<%= role.select(:permission_ids, grouped_options_for_select(Permission.agruparRoPermission),{},{class: "multiple_select form-control", multiple: true, required: true})%>
             
        		</div>
         </div> 
         </br>
      <div class="form-button">     
        <%= role.submit 'Guardar', class: 'btn btn-custom'%>
      </div>
    
   <% end %>        
</div>

<script type="text/javascript">
  
  rolesUI.initScript("<%= roles_check_name_path %>");
</script>    
      
