<% if ficha_ad.nil? %>
   <div class="panel-heading-only">IV - FICHA ADULTO (No tiene)</div>
<% else %>
<div class="panel panel-default panel-historial panel-folding">
   <div class="panel-heading">IV - FICHA ADULTO</div>
   <div class="panel-body">
      <%= data('Encargado', ficha_ad.encargado,'col-md-12') %>

      <%= data_text('Medicamentos', ficha_ad.medicamentos,'col-md-12') %>

      <%= data_text('Antecedentes de la Enfermedad Actual', ficha_ad.antecedente_actual,'col-md-12') %>

      <%= data_text('Antecedente Hereditario', ficha_ad.antecedente_hereditario,'col-md-12') %>

      <%= data_text('Condición General del Paciente', ficha_ad.condicion_paciente,'col-md-12') %>
   </div>
</div>
<% end %>
