<% if ficha_ped.nil? %>
   <%= panel_head('IV - FICHA PEDIÁTRICA (No tiene)') %>
<% else %>
<%= panel_begin('IV - FICHA PEDIÁTRICA')%>
   <div class="row">
         <%= h_data('Profesional de la Salud', ficha_ped.doctor_full_name,'col-xs-9') %>
         <%= h_data('Fecha', date(ficha_ped.fecha),'col-xs-3') %>
      </div>
   <div class="row">
      <%= h_data('Control Prenatal', ficha_ped.control_embarazo,'col-xs-9') %>
      <%= h_data('Edad Gestacional', ficha_ped.edad_gestacional,'col-xs-3') %>

      <%= h_data('Tipo de Parto', ficha_ped.tipo_parto,'col-xs-6') %>
      <%= h_data('Peso al Nacer', ficha_ped.peso_nacer,'col-xs-3') %>
      <%= h_data('APGAR', ficha_ped.apgar,'col-xs-3') %>

      <%= h_data('Antecedentes Familiares', ficha_ped.antecedentes_familiares,'col-xs-12') %>

      <%= h_data_text('Condiciones Generales del Recién Nacido', ficha_ped.condicion_general,'col-xs-12') %>
   </div>
<%= panel_end %>
<% end %>
