<% if ficha_ped.nil? %>
   <%= h_panel_head('IV - FICHA PEDIÁTRICA (No tiene)') %>
<% else %>
<%= h_panel('IV - FICHA PEDIÁTRICA','level-1')%>
   <div class="row">
         <%= h_data('Profesional de la Salud', ficha_ped.doctor_full_name,'col-md-9') %>
         <%= h_data('Fecha', date(ficha_ped.fecha),'col-md-3') %>
      </div>
   <div class="row">
      <%= h_data('Control Prenatal', ficha_ped.control_embarazo,'col-md-9') %>
      <%= h_data('Edad Gestacional', ficha_ped.edad_gestacional,'col-md-3') %>

      <%= h_data('Tipo de Parto', ficha_ped.tipo_parto,'col-md-6') %>
      <%= h_data('Peso al Nacer', ficha_ped.peso_nacer,'col-md-3') %>
      <%= h_data('APGAR', ficha_ped.apgar,'col-md-3') %>

      <%= h_data('Antecedentes Familiares', ficha_ped.antecedentes_familiares,'col-md-12') %>

      <%= h_data_text('Condiciones Generales del Recién Nacido', ficha_ped.condicion_general,'col-md-12') %>
   </div>
<%= h_panel_end %>
<% end %>
