<h4 class="historial-title">HISTORIAL DE FISIOTERAPIA</h4>
<%= panel_head_h('II - DATOS DE LOS PADRES Y/O ENCARGADO') %>
<%= panel_h('I - DATOS DEL/LA PACIENTE')%>
   <%= render 'compartido/historial/data_paciente.html', paciente:   @paciente %>
<%= panel_end_h %>

 <%= render 'data_ficha_ped.html', ficha_ped:  @ficha_ped %>
      <%= render 'data_ficha_ad.html', ficha_ad:   @ficha_ad %>
      <%= render 'compartido/historial/data_consultas.html', consultas:  @consultas, num: 'V'%>
