  <div class="page-title page-title-con-sidebar">
    <%=consulta.id.nil? ? 'Nueva Consulta' : 'Editar Consulta'%>

    <div class="tool">
      <%= link_to '<i class="fa fa-list" data-toggle="tooltip" title="Lista de Consultas"></i> '.html_safe, consultas_path(area_id: area.id) %>
    </div>

  </div>
  <div class="form-content2">

    <%= form_for consulta, html: {class: 'nueva-consulta'}, remote: true do |consult|%>
      <h4 class="titulo-ficha">Consulta en <%= area.nombre%></h4></br>

      <%= consult.hidden_field(:area_id, :value => area.id) %>
      <div class="row">
        <div class="col-md-4">

          <%= consult.label :paciente_id, '* Paciente' %>

          <%= consult.select(:paciente_id, Paciente.all.collect{|a| [a.persona_full_name, a.id]},{},{class: "paciente_select form-control select2", required: true, disabled: consulta.paciente_id.nil? ? false : true,  id: 'paciente_id', autofocus: true})%>

        </div>

        <div class="col-md-5">


          <%= consult.label :profesional_salud_id, '* Profesional de la Salud' %>
          <%= consult.select(:profesional_salud_id, doctores.collect{|a| [a.persona_full_name, a.id]},{},{class: "profesional_select form-control select2", required: true,  id: 'profesional_salud_id'})%>

        </div>


        <%= FormBuilder::text_field_v(consult, :fecha,
                                      input_class: 'date datepicker required',
                                      max_length: Domain::FECHA,
                                      label_text: '* Fecha',
                                      col_class: 'col-md-3',
                                      input_value: "#{consult.object.fecha.strftime("%d/%m/%Y") unless consult.object.new_record?}")%>

       </div>
       <h4>Datos del Paciente</h4>
       <hr>
       <div class ="paciente_data">
          <div class="row">
            <%= FormBuilder::text_field_v(consult, :paciente_id,
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Nombres') %>

            <%= FormBuilder::text_field_v(consult, :paciente_id,
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Apellidos') %>

            <%= FormBuilder::text_field_v(consult, :paciente_id,
                                          max_length: Domain::CI,
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'CI') %>
            </div>
            <div class="row">
              <%= FormBuilder::text_field_v(consult, :paciente_id,
                                        col_class: 'col-md-8',
                                        disabled: true,
                                        label_text: 'Direccion') %>
               <%= FormBuilder::text_field_v(consult, :paciente_id,
                                        col_class: 'col-md-4',
                                        disabled: true,
                                        label_text: 'Telefono') %>
          </div>

      </div>
      <h4>Datos de Consulta</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= consult.label :motivo_consulta, 'Motivo de Consulta' %>
          <%= consult.text_area :motivo_consulta, rows: "2", class: "form-control biglength"%>
        </div>
      </div>
    </br>
    <div class="row">
      <div class="col-md-6">
        <%= consult.label :evaluacion, 'Evaluación' %>
        <%= consult.text_area :evaluacion, rows: "5", class: "form-control biglength"%>
      </div>
      <div class="col-md-6">
        <%= consult.label :tratamiento, 'Tratamiento' %>
        <%= consult.text_area :tratamiento, rows: "5", class: "form-control maxlengthBig2"%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= consult.label :observaciones, 'Observaciones' %>
        <%= consult.text_area :observaciones, rows: "2", class: "form-control longString"%>
      </div>
    </div>
    </br>
      <div class="form-button">
        <%= consult.submit 'Guardar', class: 'btn btn-custom'%>
      </div>

    <% end %>


  </div>


<script type="text/javascript">

  consultasUI.initScript();
  <% if !flash.notice.blank? %>
    var n = noty({text: '<%=notice%>', type: 'success'});
  <% end %>

  <% if !flash.alert.blank?%>
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>
</script>