<div class="form-content">
  <div class="page-title">
    Consulta de <%=@consulta.paciente_persona_full_name%>

    <div class="tool">
      <%= link_to '<i class="fa fa-list"></i> '.html_safe, consultas_path %>
      <%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_consulta_path, remote: true%>

      <%= link_to '<i class="fa fa-edit"></i> '.html_safe, edit_consulta_path(@consulta.id), remote:true%>
      <%= link_to '<i class="fa fa-print"></i> '.html_safe, consultas_print_consulta_path(consulta_id: @consulta.id, :format => :pdf), target: '_blank'%>

    </div>
  </div>
    <%= form_for @consulta, html: {class: 'nueva-consulta', :multipart => true }, remote: true do |consulta|%>

      <div class="row">
        <div class="col-md-9">
          <h4><%= consulta.label :profesional_salud_id, 'Profesional de la Salud: ' %> <%= @consulta.doctor_persona_full_name%> </h4>
        </div>
        <div class="col-md-3">
            <h4><%= consulta.label :fecha, 'Fecha: ' %> <%=Formatter.format_date(@consulta.fecha)%> </h4>
        </div>
      </div></br>

      <h4>Datos del Paciente</h4>
       <hr>
       <div class="row">
            <%= FormBuilder::text_field_v(consulta, :paciente_id,

                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Nombres',
                                          input_value: @consulta.paciente.persona.nombre) %>

            <%= FormBuilder::text_field_v(consulta, :paciente_id,
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Apellidos',
                                          input_value: @consulta.paciente.persona.apellido) %>

            <%= FormBuilder::text_field_v(consulta, :paciente_id,
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'CI',
                                          input_value: @consulta.paciente.persona.ci) %>
          </div>
          <div class="row">
              <%= FormBuilder::text_field_v(consulta, :paciente_id,

                                        col_class: 'col-md-8',
                                        disabled: true,
                                        label_text: 'Direccion',
                                        input_value: @consulta.paciente.persona.direccion) %>
               <%= FormBuilder::text_field_v(consulta, :paciente_id,
                                        col_class: 'col-md-4',
                                        disabled: true,
                                        label_text: 'Telefono',
                                        input_value: @consulta.paciente.persona.telefono) %>
        </div>

      <h4>Datos de Consulta</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= consulta.label :motivo_consulta, 'Motivo de Consulta' %>
          <%= consulta.text_area :motivo_consulta, rows: "2", class: "form-control", disabled: true%>
        </div>
      </div>
    </br>
    <div class="row">
      <div class="col-md-6">
        <%= consulta.label :evaluacion, 'Evaluación' %>
        <%= consulta.text_area :evaluacion, rows: "5", class: "form-control", disabled: true%>
      </div>
      <div class="col-md-6">
        <%= consulta.label :tratamiento, 'Tratamiento' %>
        <%= consulta.text_area :tratamiento, rows: "5", class: "form-control", disabled: true%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= consulta.label :observaciones, 'Observaciones' %>
        <%= consulta.text_area :observaciones, rows: "2", class: "form-control", disabled: true%>
      </div>
    </div>

    <% end %>

  </div>


<script type="text/javascript">

  consultasUI.initScript();
  <% if !flash.notice.blank? %>
    var n = noty({text: '<%=notice%>', type: 'success'});
  <% end %>

  <% if !flash.alert.blank?%>
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>
</script>