<h3 align= "center">PSICOPEDAGOGÍA</h3></br></br>
<div class = "form-content">
	<div class = "form-font">
	  <div class= "row col-md-12">
	  	<h4>Datos Personales</h4><hr>
	  	<label class="control-label">Fecha de Ingreso: </label>
		<input size="10" class= "border-input" value="<%= @ficha.fecha.strftime("%d/%m/%Y")%>"></br>	

		<label>Nombre y Apellido: </label> 
		<input size="42" class= "border-input" value="<%= @ficha.paciente.persona.nombre%> <%= 											@ficha.paciente.persona.apellido%>"></br>	
	</div>
	
	<div class= "row col-md-12">
		<label >Fecha de nacimiento: </label> 
		<input size="10" class= "border-input" value="<%= @ficha.paciente.persona.fecha_nacimiento.strftime("%d/%m/%Y") %>"></br>
		<label class="control-label">Edad: </label>
		<input size="3" class= "border-input" value="<%= @ficha.paciente.persona.edad %>"></br>
		<label >Sexo: </label>
		<input size="7" class= "border-input" value="<%= @ficha.paciente.persona.sexo %>"></br>	
	</div>
	
	<div class= "row col-md-12">
		<label>Direccion </label> 
		<input size="40" class= "border-input" value="<%= @ficha.paciente.persona.direccion%>"></br>
	
		<label >Teléfono: </label>
		<input size="12" class= "border-input" value="<%= @ficha.paciente.persona.telefono %>"></br>
	</div>

	<div class= "row col-md-12">
		<label class="control-label">Grado que Cursa: </label> 
		<input size="33" class= "border-input" value="<%= @ficha.escolaridad%>"></br>
		<label class="control-label">Escuela: </label> 
		<input size="25" class= "border-input" value="<%= @ficha.escuela%>"></br>
	</div>
	</br>

	<% encargado= @ficha.paciente.encargado%>
	<%if !encargado.nil? %>
		<h4>Datos de los Padres o Encargados</h4>
		<hr>
		<div class= "row col-md-12">
			<label class="control-label">Nombre de la Madre: </label> 
			<input size="25" class= "border-input" value="<%= encargado.madre_nombre %>"></br>
			<label class="control-label">Edad: </label>
			<input size="3" class= "border-input" value="<%= encargado.madre_edad%>"></br>
			<label class="control-label">Numero de Hijos: </label> 
			<input size="2" class= "border-input" value="<%= encargado.madre_num_hijos %>"></br>
			<label class="control-label">Profesión Actual y Anterior: </label> 
			<input size="17" class= "border-input" value="<%= encargado.madre_prof_act_ant %>"></br>
		</div>
		</br>
		<div class= "row col-md-12">
		
			<label class="control-label">Nombre del Padre: </label> 
			<input size="39" class= "border-input" value="<%= encargado.padre_nombre%>"></br>

			<label class="control-label">Edad: </label>
			<input size="3" class= "border-input" value="<%= encargado.padre_edad %>"></br>

			<label class="control-label">Profesión Actual y Anterior: </label> 
			<input size="23" class= "border-input" value="<%= encargado.padre_prof_act_ant %>"></br>
		
		</div>
		</br>
		<div class= "row col-md-12">
		
			<label class="control-label">Nombre del Encargado: </label> 
			<input size="39" class= "border-input" value="<%= encargado.encargado_nombre%>"></br>

			<label class="control-label">Edad: </label>
			<input size="3" class= "border-input" value="<%= encargado.encargado_edad %>"></br>

			<label class="control-label">Profesión Actual y Anterior: </label> 
			<input size="23" class= "border-input" value="<%= encargado.encargado_prof_act_ant %>"></br>
		
		</div>
	<%end%>
</div>

