<div class= "form-content">  
  	<div class="page-title">
    	<%=@usuario.id.nil? ? 'Nuevo Usuario' : 'Editar Usuario'%> 

    	<div class="tool">
      	<%= link_to '<i class="fa fa-list"></i> '.html_safe, usuarios_path %> 
    	</div>
  	</div>  	
	
	<%= form_for @usuario,url: usuarios_path, html: {class:'small-form'} do |usuario| %>
		
		<div class="row">
			<div class="col-md-3">
			    <label>Empleado</label>
			</div>
			
			<div class="col-md-9">
				<select class ="form-control required" id="empleado_id" name="empleado_id">
			       <option value="">Seleccione un empleado </option>
					<%@empleados.each do |empleado|%>
						<option value="<%= empleado.id%>">
						    <%=empleado.persona.nombre%> <%=empleado.persona.apellido%> <%=empleado.persona.ci %>
						</option>
					<%end%>
				</select>
				<%@empleados.each do |empleado|%>
					<div class="hidden">
						<input type="hidden" id="option-nombre-<%= empleado.id %>" value="<%= empleado.persona.nombre %>"/>
						<input type="hidden" id="option-apellido-<%= empleado.id %>" value="<%= empleado.persona.apellido %>"/>
						<input type="hidden" id="option-email-<%= empleado.id %>" value= "<%= empleado.persona.email %>"/>
						<input type="hidden" id="option-cargo-<%= empleado.id %>" value="<%= empleado.cargo.descripcion %>"/>
						</div>
				<%end%>
			</div>
		</div>
		<hr>
		
		<div class="row">

		<%= usuario.hidden_field :empleado_id %>

			<%= FormBuilder::text_field_v(usuario, :username, 
							                        input_class: 'required usuario-nombre', 
							                        max_length: Domain::NOMBRE, 
							                        autofocus: true,
							                        col_class: 'col-md-6',
							                        disabled: true,
							             			
							                        label_text: 'Nombres') %>
			<%= FormBuilder::text_field_v(usuario, :username, 
							                        input_class: 'required clear usuario-apellido', 
							                        max_length: Domain::NOMBRE,
							                        col_class: 'col-md-6',
							                        disabled: true,
							                        label_text: 'Apellidos',
							                        ) %>

        	<%= FormBuilder::text_field_v(usuario, :username, 
							                        input_class: 'required clear usuario-cargo', 
							                        max_length: Domain::CARGO,
							                        col_class: 'col-md-6',
							                        disabled: true,
							                        label_text: 'Cargo') %>		    
        	<%= FormBuilder::text_field_v(usuario, :username, 
							                        input_class: 'required clear usuario-email', 
							                        max_length: Domain::EMAIL,
							                        col_class: 'col-md-6',
							                        disabled: true,
							                        label_text: 'Email') %>
		</div>
		
		<h4>Datos de Usuario</h4><hr>
		
		<div class="row">
			<%= FormBuilder::text_field_v(usuario, :username, 
								                        input_class: 'required', 
								                        max_length: Domain::USERNAME, 
								                        col_class: 'col-md-6',
								                        label_text: '* Nombre Usuario',
								                        label_class: 'error') %>
			<%= FormBuilder::select_v(usuario, :rol,
													[['Secretario', 'Secretario'], ['Doctor', 'Doctor'],['Administrador', 'Admnistrador']], 
													prompt:'Seleccionar Rol', 
													select_class: 'required', 
													col_class: 'col-md-6',
													label_text: '* Rol')%>
		</div>

		<div class="form-button">
			<%= usuario.submit 'Guardar', class: 'btn btn-custom', disabled: false%>
		</div>

	<%end%>
</div>
	
<script type="text/javascript">
	$(document).ready(function(){
		$("#empleado_id").select2().on("select2:select",function(){
			id = $(this).val();
			$("#user_empleado_id").val(id);
			$(".usuario-nombre").val($("#option-nombre-"+id).val());
			$(".usuario-apellido").val($("#option-apellido-"+id).val());
			$(".usuario-cargo").val($("#option-cargo-"+id).val());
			$(".usuario-email").val($("#option-email-"+id).val());
		});
	});	
	
	usuariosUI.initScript();
</script>


