<div class="modal-header">

	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="row">
    	<h4 class="modal-title col-md-4">Usuario</h4>
</div>
<div class= "modal-body">
	<%= form_for @usuario,url: usuarios_path, html: {class:'form-horizontal'}, :remote => true do |usuario| %>
	<h5>Datos del Personal</h5>
	<div class="row">
	<%= usuario.hidden_field :empleado_id, value:@empleado.id %>
				<%= FormBuilder::text_field_v(usuario, :nombre, 
								                        input_class: 'required', 
								                        max_length: Domain::NOMBRE, 
								                        autofocus: true,
								                        col_class: 'col-md-6',
								                        disabled: true,
								                        label_text: 'Nombre',
								                        input_value: @empleado.persona.nombre) %>
			    <%= FormBuilder::text_field_v(usuario, :apellido, 
								                        input_class: 'required clear', 
								                        max_length: Domain::NOMBRE,
								                        col_class: 'col-md-6',
								                        disabled: true,
								                        label_text: 'Apellido',
								                        input_value: @empleado.persona.apellido) %>

	            <%= FormBuilder::text_field_v(usuario, :cargo, 
								                        input_class: 'required clear', 
								                        max_length: Domain::CARGO,
								                        col_class: 'col-md-6',
								                        disabled: true,
								                        label_text: 'Cargo',
								                        input_value: @empleado.cargo.descripcion) %>		    
	            <%= FormBuilder::text_field_v(usuario, :email, 
								                        input_class: 'required clear', 
								                        max_length: Domain::EMAIL,
								                        col_class: 'col-md-6',
								                        disabled: true,
								                        label_text: 'Email',
								                        input_value: @empleado.persona.email) %>
	</div>

		<h5>Datos del Usuario</h5>

		<div class="row">
			<%= FormBuilder::text_field_v(usuario, :rol,
						                            input_value:@usuario.username, 
													col_class: 'col-md-4',
													label_text: '* Rol')%>
			<%= FormBuilder::text_field_v(usuario, :username, 
							                        input_class: 'required', 
							                        max_length: Domain::USERNAME, 
							                        col_class: 'col-md-4',
							                        label_text: '* Nombre') %>
		    <%= FormBuilder::text_field_v(usuario, :password, 
								                    input_value:@usuario.password, 
								                    max_length: Domain::CONTRASEÑA,
								                    col_class: 'col-md-4',
								                    label_text: '* Contraseña') %>

		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<%= usuario.submit 'Guardar', class: 'btn btn-custom'%>
		</div>
	<%end%>

</div>
