<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</button</span></button>
			<h4 class="modal-title">Nuevo Usuario</h4>
		</div>
		<div class= "modal-body"
			

			<%= form_for @usuario,url: usuarios_path, html: {class:'form-horizontal'}, :remote => true do |f| %>
				<h5>Datos del Usuario</h5>
				<div class="row">
					<%=f.label("Usuario")%><br/>
					<div class="input-group">
						<%=f.text_field(:username)%>
					</div>
					<div> 	
						<%=f.label("Contraseña")%><br/>
					</div>
					<div class="input-group">
						<%=f.password_field(:password)%>
					</div>	
				</div>
			<%end%>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<button type="button" class="btn btn-primary">Guardar</button>
		</div>
	</div>
</div>
