<% if ficha.nil? %>
   <%= h_panel_head('III - FICHA (No tiene)') %>
<% else %>
   <%= h_panel('III - FICHA','level-1') %>
      <div class="row">
         <%= h_data('Profesional de la Salud', ficha.doctor_full_name,'col-md-9') %>
         <%= h_data('Fecha', date(ficha.fecha),'col-md-3') %>
      </div>
      <div class="row">
         <%= h_data('Grado que Cursa', ficha.escolaridad,'col-md-4') %>
         <%= h_data('Escuela', ficha.escuela,'col-md-8') %>
      </div>
   <%= h_panel_end %>
<% end %>