<h4 align= "center">Consulta de <%= @consulta.paciente.persona.nombre %> <%= @consulta.paciente.persona.							apellido %> en la Fecha <%= @consulta.fecha.strftime('%d/%m/%Y') %></h4>

<div class = "form-content">
	<div class = "form-font"></br>

		<label class="control-label">Área</label> 
		<input class="form-control" value="<%=@consulta.area.nombre %>">

		</br></br>

		<label class="control-label">Motivo de Consulta</label>
		<textarea rows="4" class= "form-control"> <%=@consulta.motivo_consulta %></textarea>

		</br></br>

		<label class="control-label">Evaluación</label>
		<textarea rows="3" class= "form-control"> <%=@consulta.evaluacion %></textarea>

		</br></br>

		<label class="control-label">Tratamiento</label>
		<textarea rows="8" class= "form-control"> <%=@consulta.tratamiento %></textarea>

		</br></br>

		<label class="control-label"> Observaciones</label>
		<textarea rows="4" class= "form-control"> <%=@consulta.observaciones %></textarea>

	</div>
</div>