<div class="row">
      <div class="col-md-5">
        <label class="control-label">Nombre del Padre</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.padre_nombre %>">
      </div>
      <div class="col-md-2">
        <label class="control-label">Edad</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.padre_edad%>">
      </div>
      <div class="col-md-5">
        <label class="control-label">Profesión Actual y Anterior</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.padre_prof_act_ant %>">
      </div>
  </br>

  <div class="col-md-4">
        <label class="control-label">Nombre de la Madre</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.madre_nombre %>">
      </div>
      <div class="col-md-2">
        <label class="control-label">Edad</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.madre_edad  %>">
      </div>
      <div class="col-md-2">
        <label class="control-label">Nro de Hijos</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.madre_num_hijos%>">
      </div>
      <div class="col-md-4">
        <label class="control-label">Profesión Actual y Anterior</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.madre_prof_act_ant  %>">
      </div>
  </div>
  </br>

  <div class="row">
      <div class="col-md-5">
        <label class="control-label">Nombre del Encargado</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.encargado_nombre %>">
      </div>
      <div class="col-md-2">
        <label class="control-label">Edad</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.encargado_edad%>">
      </div>
      <div class="col-md-5">
        <label class="control-label">Profesión Actual y Anterior</label>
        <input class="form-control" disabled="disabled" value="<%= @paciente.encargado.encargado_prof_act_ant %>">
      </div>
  </div>
</div>