<div class="form-content form-ficha">
    <div class="page-title page-title-ficha">
      Nueva Ficha

      <div class="tool">
        <%= link_to '<i class="fa fa-list"></i> '.html_safe, fichas_fonoaudiologicas_path %> 
      </div>

    </div>

    <%= form_for @fonoaudiologica, html: {class: 'nueva-ficha form-ficha', :multipart => true }, remote: true do |ficha|%>

    	<h3 align="center">FICHA DE FONOAUDIOLOGIA</h3></br>
			<h4>Datos del Paciente</h4><hr>

			<div class ="paciente_data">
	    	<div class="row">
	    		<%= FormBuilder::text_field_v(ficha, :paciente_id, 
					                                      input_class: 'clear', 
					                                      col_class: 'col-md-4',
					                                      disabled: true,
					                                      label_text: '* Nombres') %>

	        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
					                                      input_class: 'clear', 
					                                      col_class: 'col-md-4',
					                                      disabled: true,
					                                      label_text: '* Apellidos') %>

	        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
					                                      input_class: 'clear', 
					                                      col_class: 'col-md-2',
					                                      disabled: true,
					                                      label_text: '* Fecha de Nac.') %>

	        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
					                                      input_class: 'clear', 
					                                      col_class: 'col-md-2',
					                                      disabled: true,
					                                      label_text: '* Edad') %>
				</div>
	      <div class="row">

	        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                        input_class: 'clear', 
				                                        col_class: 'col-md-3',
				                                        disabled: true,
				                                        label_text: '* Sexo') %>
	        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                        input_class: 'clear', 
				                                        col_class: 'col-md-6',
				                                        disabled: true,
				                                        label_text: '* Dirección') %> 
	        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                        input_class: 'clear',
				                                        col_class: 'col-md-3',
				                                        disabled: true,
				                                        label_text: 'Teléfono') %>
	      </div>
	    </div></br>
      <h4>Datos de los Padres o Encargados</h4><hr>
      <div class="row">
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                      input_class: '', 
				                                      col_class: 'col-md-5',
				                                      disabled: true,
				                                      label_text: 'Padre') %> 
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                      input_class: '',
				                                      col_class: 'col-md-2',
				                                      disabled: true,
				                                      label_text: 'Edad') %>
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                      input_class: '',
				                                      col_class: 'col-md-5',
				                                      disabled: true,
				                                      label_text: 'Profesión') %>
   		</div>
  		<div class="row">
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
		                                          input_class: '', 
		                                          col_class: 'col-md-4',
		                                          disabled: true,
		                                          label_text: 'Madre') %>

        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
		                                          input_class: '',
		                                          col_class: 'col-md-2',
		                                          disabled: true,
		                                          label_text: 'Edad') %>

        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
		                                          input_class: '',
		                                          col_class: 'col-md-2',
		                                          disabled: true,
		                                          label_text: 'Nro de Hijos') %>

        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
		                                          input_class: '',
		                                          col_class: 'col-md-4',
		                                          disabled: true,
		                                          label_text: 'Profesión') %>       
  		</div>
      <div class="row">
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                      input_class: '', 
				                                      col_class: 'col-md-5',
				                                      disabled: true,
				                                      label_text: 'Encargado') %> 
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                      input_class: '',
				                                      col_class: 'col-md-2',
				                                      disabled: true,
				                                      label_text: 'Edad') %>
        <%= FormBuilder::text_field_v(ficha, :paciente_id, 
				                                      input_class: '',
				                                      col_class: 'col-md-5',
				                                      disabled: true,
				                                      label_text: 'Profesión') %>
      </div>
      <h4>Datos de la Ficha</h4><hr>
  		<div class="row">
        <%= FormBuilder::text_field_v(ficha, :escolaridad, 
				                                      input_class: '', 
				                                      max_length: Domain::ESCOLARIDAD,
				                                      col_class: 'col-md-6',
				                                      label_text: 'Grado que Cursa') %> 

        <%= FormBuilder::text_field_v(ficha, :escuela, 
				                                      input_class: '',
				                                      max_length: Domain::ESCUELA,
				                                      col_class: 'col-md-6',
				                                      label_text: 'Escuela') %>
      </div> 

      <div class="form-button">         
      	<%= ficha.submit 'Guardar', class: 'btn btn-custom'%>
    	</div>  
    <%end%>
</div>
<script type="text/javascript"> 
    
  <% if !flash.notice.blank? %> 
    var n = noty({text: '<%=notice%>', type: 'success'});   
  <% end %>
  
  <% if !flash.alert.blank?%> 
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>

</script>