<div class="page-title">
      Usuario
      <% form_url = usuario.id.nil? ? usuarios_path : usuarios_path+"/#{usuario.id}" %>

      <div class="tool tool-sin-buscador">
         <%= link_to '<i class="fa fa-list" data-toggle="tooltip" title="Lista de Usuarios"></i> '.html_safe, usuarios_path %>
        <%= link_to '<i class="fa fa-plus-square" data-toggle="tooltip" title="Nuevo Usuario"></i> '.html_safe, new_usuario_path%>
         <% unless current_user.id == usuario.id || usuario.id == Configuracion.first.usuario_admin %>
              <%= link_to '<i class="fa fa-edit" data-toggle="tooltip" title="Editar Usuario"></i> '.html_safe, edit_usuario_path(usuario.id)%>
              <%= link_to '<i class="fa fa-trash-o" data-toggle="tooltip" title="Eliminar Usuario"></i> '.html_safe, usuario_path(usuario), method: 'delete', data: {confirm: "¿Desea eliminar el usuario #{usuario.username}?"}%>
          <%end%>
      </div>
   </div>
<div class="content content-50">
<div class= "form-content">


	<%= form_for usuario, url: form_url, html: {class:'small-form'} do |user| %>
		<h4>Empleado</h4>
		<hr>

		<div class="row">

		 	<%= hidden_field_tag :usuario_id, usuario.id %>

			<div class="form-group col-xs-6">
				<label class="control-label">Nombre</label>
				<input class="form-control usuario-nombre" disabled="disabled" value="<%= usuario.id.nil? ? '' : usuario.empleado.persona.nombre %>">
			</div>

			<div class="form-group col-xs-6">
				<label class="control-label">Apellido</label>
				<input class="form-control usuario-apellido" disabled="disabled" value="<%= usuario.id.nil? ? '' : usuario.empleado.persona.apellido %>">
			</div>

			<div class="form-group col-xs-6">
				<label class="control-label">Cargo</label>
				<input class="form-control usuario-cargo" disabled="disabled" value="<%= usuario.id.nil? ? '' : usuario.empleado.cargo %>">
			</div>

			<div class="form-group col-xs-6">
				<label class="control-label">Email</label>
				<input class="form-control usuario-email" disabled="disabled" value="<%= usuario.id.nil? ? '' : usuario.empleado.persona.email %>">
			</div>
		</div>

		<h4>Datos de Usuario</h4><hr>

		<div class="row">
			<%= FormBuilder::text_field_v(user, :username,
														disabled: true,
								                        col_class: 'col-xs-6',
								                        label_text: '* Nombre Usuario') %>

		<div class="form-group col-xs-6">
			<label class="control-label">Rol</label>
			<input class="form-control " disabled="disabled" value="<%= usuario.get_role %>">
		</div>

			<%= user.hidden_field :empleado_id%>
		</div>

	<%end%>
</div>
</div>
<script type="text/javascript">

  <% if !flash.notice.blank? %>
      var n = noty({text: '<%=notice%>', type: 'success'});
  <% end %>
  <% if !flash.alert.blank?%>
      var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>

</script>




