<div class="page-title">
    	<%=@usuario.id.nil? ? 'Nuevo Usuario' : 'Editar Usuario'%>
    	<% form_url = @usuario.id.nil? ? usuarios_path : usuarios_path+"/#{@usuario.id}" %>

    	<div class="tool">
      	<%= link_to '<i class="fa fa-list"></i> '.html_safe, usuarios_path %>
    	</div>
  	</div>
<div class="content content-50">
<div class= "form-content2">


	<%= form_for @usuario, url: form_url, html: {class:'form-user'} do |usuario| %>

		<% if @usuario.id.nil? %>
		<div class="row">
			<div class="col-md-3">
			    <label class="label-title">Empleado</label>
			</div>

			<div class="col-md-9 form-group">
				<select class ="form-control required select2" id="empleado_id" name="empleado_id">
			       <option value="">Seleccione un empleado </option>
					<%@empleados.each do |empleado|%>
						<option value="<%= empleado.id%>">
						    <%=empleado.persona_nombre%> <%=empleado.persona_apellido%> <%=empleado.persona_ci %>
						</option>
					<%end%>
				</select>
				<%@empleados.each do |empleado|%>
					<div class="hidden">
						<input type="hidden" id="option-nombre-<%= empleado.id %>" value="<%= empleado.persona_nombre %>"/>
						<input type="hidden" id="option-apellido-<%= empleado.id %>" value="<%= empleado.persona_apellido %>"/>
						<input type="hidden" id="option-email-<%= empleado.id %>" value= "<%= empleado.persona_email %>"/>
						<input type="hidden" id="option-cargo-<%= empleado.id %>" value="<%= empleado.cargo %>"/>
						</div>
				<%end%>
			</div>
		</div>
		<% else %>
			<h4>Empleado</h4>
		<% end %>

		<hr>

		<div class="row">

		 	<%= hidden_field_tag :usuario_id, @usuario.id %>

			<div class="form-group col-md-6">
				<label class="control-label">Nombre</label>
				<input class="form-control usuario-nombre " disabled="disabled" value="<%= @usuario.id.nil? ? '' : @usuario.empleado_persona_nombre %>">
			</div>

			<div class="form-group col-md-6">
				<label class="control-label">Apellido</label>
				<input class="form-control usuario-apellido" disabled="disabled" value="<%= @usuario.id.nil? ? '' : @usuario.empleado_persona_apellido %>">
			</div>

			<div class="form-group col-md-6">
				<label class="control-label">Cargo</label>
				<input class="form-control usuario-cargo" disabled="disabled" value="<%= @usuario.id.nil? ? '' : @usuario.empleado_cargo %>">
			</div>

			<div class="form-group col-md-6">
				<label class="control-label">Email</label>
				<input class="form-control usuario-email" disabled="disabled" value="<%= @usuario.id.nil? ? '' : @usuario.empleado_persona_email %>">
			</div>
		</div>

		<h4>Datos de Usuario</h4><hr>

		<div class="row">
			<%= FormBuilder::text_field_v(usuario, :username,
								                        input_class: 'required uniqueUsuarioUsername username nameMinLength',
								                        max_length: Domain::USERNAME,
								                        col_class: 'col-md-6',
								                        label_text: '* Nombre Usuario',
								                        label_class: 'error') %>

		<div class="col-md-6 form-group">
			<%= usuario.label :rol, '* Rol' %>
			<select class ="form-control required" id="user_role_id" name="user[role_id]">
			    <option value="">Seleccione un rol </option>
				<%@roles.each do |role|%>
					<option value="<%= role.id%>" <% if @role_id == role.id %> Selected <% end %>>
						<%=role.name%>
					</option>
				<%end%>
			</select>
		</div>

			<%= usuario.hidden_field :empleado_id%>
		</div>

		<% if not @usuario.id.nil? %>
		<div class="row">
			<div class="checkbox col-md-6">
				<label>
					<%= check_box_tag 'reset', true, false, class: 'checkbox-password'  %>

							Resetear Contraseña
							<%= usuario.hidden_field :pass_reset, value: false, class: 'password-reset'%>
				</label>
			</div>
		</div>
		<% end %>

		<div class="form-button">
			<%= usuario.submit 'Guardar', class: 'btn btn-custom', data: {disable_with: "Guardando..."}%>
		</div>

	<%end%>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#empleado_id").select2().on("select2:select",function(){
			$(this).valid();//Para que valide cada vez que se selecciona otra item del select

			id = $(this).val();
			$("#user_empleado_id").val(id);
			$(".usuario-nombre").val($("#option-nombre-"+id).val());
			$(".usuario-apellido").val($("#option-apellido-"+id).val());
			$(".usuario-cargo").val($("#option-cargo-"+id).val());
			$(".usuario-email").val($("#option-email-"+id).val());

		});
	});
	<% if !flash.alert.blank?%>
		var n = noty({text: '<%=alert%>', type: 'error'});
	<% end %>

	usuariosUI.initScript("<%= usuarios_check_username_path %>");

	<% if not @usuario.id.nil? %>
		usuariosUI.resetPassword();
	<% end %>

</script>


