<div class="espacio">
<legend align="left"><h2>Listar Usuarios </h2></legend></br>
<table class= "table table-condensed">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>         
      <th>Apellido</th>
      <th>Cargo</th>
      <th>Email</th>
      <th>Rol</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
    <tr>
      <td class="show-usuario"><%=usuario.username%></td>
      <td class="show-usuario"><%=usuario.empleado.persona.nombre%></td>
      <td class="show-usuario"><%=usuario.empleado.persona.apellido%></td>
      <td class="show-usuario"><%=usuario.empleado.cargo.descripcion %></td>
      <td class="show-usuario"><%=usuario.empleado.persona.email%></td>
      <td class="show-usuario"><%=usuario.rol%></td>
      <td classs="action">
      <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe,remote:true%> 
      <%= link_to '<i class="glyphicon glyphicon-edit icon-large"></i> '.html_safe, edit_usuario_path(usuario), remote: true%>        
      <%= link_to '<i class="glyphicon glyphicon-trash icon-large"></i>'.html_safe, usuario_path(usuario), method: 'delete', data: {confirm: "¿Desea eliminar al usuario #{usuario.username}?"}, remote: true%>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>
</div>