<div class="page-title">
		Usuarios

		<div class="tool">
			<%= search_form_for @search, class: 'buscador',url: :usuarios, remote: true do |f| %>
			<div class="input-group">
				<%= f.search_field :username_cont, placeholder: " Buscar por Nombre de Usuario", class: "form-control", autofocus: true%>
				<span class="fa fa-search"></span>
				<div class="input-group-btn">
					<%= link_to '<i class="fa fa-plus-square"></i> '.html_safe, new_usuario_path%>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<div class="content">
<div class="list-content">

	<div id="list">
		<%= render 'list' %>
	</div>

	<div id="list-paginate">
		<%= paginate @usuarios, remote: true %>
	</div>
</div>
</div>
