<div class= "col-md-10 col-md-offset-1">
  <div class="form-content">
    <div class="page-title">
      <%=@turno.id.nil? ? 'Nuevo Turno' : 'Editar Turno'%> 

      <div class="tool">
        <%= link_to '<i class="fa fa-list"></i> '.html_safe, turnos_path %> 
      </div>
    </div>

    <%= form_for @turno, html: {class: 'nuevo-turno'}, remote: true do |turno|%>   

      <h4>Datos Personales</h4>
      <hr>
      <div class="row">
              <div class="col-md-7">

              <%= turno.label :paciente_id, '* Paciente' %> 

              <%= turno.select(:paciente_id, Paciente.all.collect { |p| [p.persona.nombre, p.id] },{},{class: "form-control", required: true, id: 'paciente_id'})%>

              </div>
              <% @pacientes.each do |paciente|%>
              <div class="hidden">
                <input type="hidden" id="option-nombre-<%= paciente.id %>" value="<%= paciente.persona.nombre %>"/>
                  <input type="hidden" id="option-apellido-<%= paciente.id %>" value="<%= paciente.persona.apellido %>"/>
                  <input type="hidden" id="option-ci-<%= paciente.id %>" value= "<%= paciente.persona.ci %>"/>
                  <input type="hidden" id="option-direccion-<%= paciente.id %>" value="<%= paciente.persona.direccion%>"/>
                  <input type="hidden" id="option-telefono-<%= paciente.id %>" value="<%= paciente.persona.telefono %>"/>
                </div>
            <%end%>
            
               <%= FormBuilder::text_field_v(turno, :fecha_expedicion, 
                            input_class: 'required date', 
                            max_length: Domain::FECHA,
                            label_text: '* Fecha Actual',
                            col_class: 'col-md-5')%>
            
       </div>

        <%= turno.hidden_field :paciente_id %>
        <div class ="turno">
          <div class="row">
            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'paciente-nombre', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Nombres') %>

            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'paciente-apellido', 
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Apellidos') %>

            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'clear paciente-ci', 
                                          max_length: Domain::CI,
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'CI') %> 
            </div>      
            <div class="row">
              <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                        input_class: 'clear paciente-direccion', 
                                        max_length: Domain::DIRECCION,
                                        col_class: 'col-md-8',
                                        disabled: true,
                                        label_text: 'Direccion') %>
               <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                        input_class: 'clear paciente-telefono', 
                                        max_length: Domain::TELEFONO,
                                        col_class: 'col-md-4',
                                        disabled: true,
                                        label_text: 'Telefono') %>
          </div>
     </div>
     <h4>Datos Turno</h4>
    <hr>
       
      <div class="form-button">         
        <%= turno.submit 'Guardar', class: 'btn btn-custom'%>
      </div>

    <% end %>


  </div>

</div>

<script type="text/javascript"> 
    $(document).ready(function(){
        $("#paciente_id").select2().on("select2:select",function(){
          id = $(this).val();
          $("#turno_paciente_id").val(id);
          $(".paciente-nombre").val($("#option-nombre-"+id).val());
          $(".paciente-apellido").val($("#option-apellido-"+id).val());
          $(".paciente-ci").val($("#option-ci-"+id).val());
          $(".paciente-direccion").val($("#option-direccion-"+id).val());
          $(".paciente-telefono").val($("#option-telefono-"+id).val());
        });
      });
  turnosUI.initScript();
</script>