<div class= "col-md-10 col-md-offset-1">
  <div class="form-content">
    <div class="page-title page-title-sin-submenu">
      <%=@turno.id.nil? ? 'Nuevo Turno' : 'Editar Turno'%> 

      <div class="tool">
        <%= link_to '<i class="fa fa-list" data-toggle="tooltip" data-placement="bottom" title="Lsta de Turnos"></i> '.html_safe, turnos_path %> 
      </div>

    </div>
<body>
    <%= form_for @turno, html: {class: 'nuevo-turno form-sin-submenu', :multipart => true }, remote: true do |turno|%>   

      <h4>Datos Personales</h4>
      <hr>
      <div class="row">
        <div class="col-md-7">


          <%= turno.label :paciente_id, '* Paciente' %> 
          <div class="row">
            <div class="col-md-10">

            <%= turno.select(:paciente_id, Hash[Paciente.all.map{|a| [a.persona.nombre + " "+ a.persona.apellido, a.id]}],{},{class: "paciente_select form-control select2", required: true,  id: 'paciente_id'})%>
          </div>
            
            <%= link_to '<i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Nuevo Paciente"></i> '.html_safe, pacientes_new_paciente_modal_path(root: 'turnos', encargado: false), class: 'btn btn-custom col-md-1', style: 'height: 30px; width: 40px', remote: true%> 

            
        </div>
        </div>

        <%= FormBuilder::text_field_v(turno, :fecha_expedicion, 
                                      input_class: 'date datepicker required', 
                                      max_length: Domain::FECHA,
                                      label_text: '* Fecha Actual',
                                      col_class: 'col-md-5')%>
            
       </div>

          <div class ="paciente_data">
          <div class="row">
            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'paciente-nombre', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Nombres') %>

            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'paciente-apellido', 
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Apellidos') %>

            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'clear paciente-ci', 
                                          max_length: Domain::CI,
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'CI') %> 
            </div>      
            <div class="row">
              <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                        input_class: 'clear paciente-direccion', 
                                        max_length: Domain::DIRECCION,
                                        col_class: 'col-md-8',
                                        disabled: true,
                                        label_text: 'Direccion') %>
               <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                        input_class: 'clear paciente-telefono', 
                                        max_length: Domain::TELEFONO,
                                        col_class: 'col-md-4',
                                        disabled: true,
                                        label_text: 'Telefono') %>
          </div>
   
      </div>
    </br>
     <h4>Datos Turno</h4>
    <hr>

    <div class="row">
      <div class="col-md-4">

        <%= turno.label :area_id, '* Área a consultar' %> 

        <%= turno.select(:area_id, Area.all.collect { |a| [a.nombre, a.id] },{},{class: "area_select form-control select2", required: true,  id: 'area_id'})%>

      </div>

      <div class="col-md-4">

        <%= turno.label :doctor_id, '* Profesional de la Salud' %> 

        <%= turno.select(:doctor_id, Hash[Empleado.where(type: 'Doctor').map{|a| [a.area.nombre + "-"+ a.persona.nombre + " "+ a.persona.apellido, a.id]}],{},{class: "profesional_select form-control select2", required: true,  id: 'doctor_id'})%>

       </div>

       <%= FormBuilder::text_field_v(turno, :fecha_consulta, 
                                      input_class: 'required date datepicker2', 
                                      max_length: Domain::FECHA,
                                      label_text: '* Fecha de Consulta',
                                      col_class: 'col-md-4')%>
    </div>
  </br>
      <div class="row">
          <%= FormBuilder::text_field_v(turno, :monto, 
                                      input_class: 'required costo', 
                                      max_length: Domain::COSTO,
                                      label_text: '* Costo del servicio',
                                      col_class: 'col-md-7')%>

           <div class="col-md-5">

            <%= turno.label :paga, '* Abonará el monto estipulado?' %>

            <div class="row">
              <%= label :paga, "Si", class: "col-md-1"%>
              <%= turno.radio_button :paga, true , :value => true, class: "col-md-3 paga si_paga"%>
              <%= label :paga, "No", class: "col-md-2"%>
              <%= turno.radio_button :paga, false , :checked => true, :value => false, class: "col-md-1 paga no_paga" %>

            </div>
        </div>
      </div>
      <div class="row" id="factura" style="display:none">
        <%= FormBuilder::text_field_v(turno, :nro_factura, 
                                      input_class: '', 
                                      max_length: Domain::NRO_FACTURA,
                                      label_text: '* N° de Factura',
                                      col_class: 'col-md-6')%>

       </div>
      
      <div class="form-button">         
        <%= turno.submit 'Guardar', class: 'btn btn-custom'%>
      </div>

    <% end %>


  </div>

</div>

<script type="text/javascript"> 
    
  turnosUI.initScript();
  <% if !flash.notice.blank? %> 
    var n = noty({text: '<%=notice%>', type: 'success'});   
  <% end %>
  
  <% if !flash.alert.blank?%> 
    var n = noty({text: '<%=alert%>', type: 'error'});
  <% end %>
</script>