
          <div class="row">
            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'paciente-nombre', 
                                          col_class: 'col-md-4',
                                          disabled: true,
                                          label_text: 'Nombres',
                                          input_value: paciente.persona.nombre) %>

            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'paciente-apellido', 
                                          col_class: 'col-md-5',
                                          disabled: true,
                                          label_text: 'Apellidos',
                                          input_value: paciente.persona.apellido) %>

            <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                          input_class: 'clear paciente-ci', 
                                          max_length: Domain::CI,
                                          col_class: 'col-md-3',
                                          disabled: true,
                                          label_text: 'CI',
                                          input_value: paciente.persona.ci) %> 
            </div>      
            <div class="row">
              <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                        input_class: 'clear paciente-direccion', 
                                        max_length: Domain::DIRECCION,
                                        col_class: 'col-md-8',
                                        disabled: true,
                                        label_text: 'Direccion',
                                        input_value: paciente.persona.direccion) %>
               <%= FormBuilder::text_field_v(turno, :paciente_id, 
                                        input_class: 'clear paciente-telefono', 
                                        max_length: Domain::TELEFONO,
                                        col_class: 'col-md-4',
                                        disabled: true,
                                        label_text: 'Telefono',
                                        input_value: paciente.persona.telefono) %>
          </div>
   