<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
        </li>

        <li>
            <a href="#">Clínico</a>
        </li>

        <li class="<%= current_sidebar([fichas_fisioterapeuticas_adultos_path])%>">
            <%=link_to 'Fisioterapia Adulto', fichas_fisioterapeuticas_adultos_path %>
        </li>
        
         <li class="<%= current_sidebar([ficha_fisioterapia_ninos_path])%>">
            <%=link_to 'Fisioterapia Pediátrica', ficha_fisioterapia_ninos_path %>
        </li>

        <li class="<%= current_sidebar([fichas_fonoaudiologicas_path])%>">
            <%=link_to 'Fonoaudiología', fichas_fonoaudiologicas_path %>
        </li>

        <li>
            <a href="#">Neurología</a>
        </li>

        <li class="<%= current_sidebar([fichas_nutricionales_adultos_path])%>">
            <%=link_to 'Nutricional Adulto', fichas_nutricionales_adultos_path %>
        </li>

        <li class="<%= current_sidebar([fichas_nutricionales_pediatricas_path])%>">
            <%=link_to 'Nutricional Pediátrica', fichas_nutricionales_pediatricas_path %>
        </li>

        <li class="<%= current_sidebar([fichas_odontologicas_path])%>">
            <%=link_to 'Odontología', fichas_odontologicas_path %>
        </li>

        <li>
            <a href="#">Pediatría</a>
        </li>
        
        <li class="<%= current_sidebar([fichas_psicopedagogicas_path])%>">
            <%=link_to 'Psicopedagogía', fichas_psicopedagogicas_path %>
        </li>                 
    </ul>
</div>