<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div id="message-content">
            <%= render 'message'%>
        </div>

        <%unless current_user.es_doctor?%>
            <div class="select-doctor-sidebar"><%= select_tag :doctor_id, collection: []%></div>
        <%else%>
            <%= hidden_field_tag(:doctor_id, current_user.empleado.id) %>
        <%end%>

        <div id="datepicker-inline" data-date="<%=date(Date.today)%>"></div>

        <div id="pacientes-content">
            <%= render 'list_pacientes', turnos: turnos %>
        </div>
        <br>
        <!-- Sin lo siguiente, el scroll no muestra todo el contenido -->
        <li class="sidebar-brand-aux"></li>
    </ul>
</div>
<script>
    atencionesProfesionalesUI.initScript();

    <%unless current_user.es_doctor?%>
        empleadosUI.initBuscarDoctor('#doctor_id',false);
    <%end%>
</script>