<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            AREAS
        </li>

         <li class="<%= current_sidebar([])%>">
            <%=link_to 'Clínico', '#' %>
        </li>

        <li class="<%= current_sidebar([historiales_fisioterapeuticos_path])%>">
            <%=link_to 'Fisioterapia', historiales_fisioterapeuticos_path %>
        </li>

        <li class="<%= current_sidebar([historiales_fonoaudiologicos_path])%>">
            <%=link_to 'Fonoaudiología', historiales_fonoaudiologicos_path %>
        </li>

         <li class="<%= current_sidebar([])%>">
            <%=link_to 'Neurología', '#' %>
        </li>

        <li class="<%= current_sidebar([])%>">
            <%=link_to 'Nutricional', '#' %>
        </li>

        <li class="<%= current_sidebar([])%>">
            <%=link_to 'Odontología', '#' %>
        </li>

         <li class="<%= current_sidebar([])%>">
            <%=link_to 'Pediatría', '#' %>
        </li>

        <li class="<%= current_sidebar([historiales_psicopedagogicos_path])%>">
            <%=link_to 'Psicopedagogía', historiales_psicopedagogicos_path %>
        </li>
    </ul>
</div>