  <nav class="navbar navbar-submenu">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li class="<%= current_submenu([welcome_index_fichas_path,fichas_clinicos_path, fichas_fisioterapeuticas_adultos_path, ficha_fisioterapia_ninos_path, fichas_fonoaudiologicas_path, fichas_nutricionales_pediatricas_path, fichas_nutricionales_adultos_path, fichas_psicopedagogicas_path, fichas_pediatricas_path, fichas_odontologicas_path,fichas_neurologicas_path,fichas_clinicos_path])%>">
            <%=link_to 'Fichas', welcome_index_fichas_path %>
          </li>

           <li class="<%= current_submenu([consultas_path, consultas_nutricionales_pediatricas_path, consultas_nutricionales_adultos_path, consultas_odontologicas_path,welcome_index_consultas_path])%>">
            <%= link_to "Consultas", welcome_index_consultas_path %>
          </li>

           <li class="<%= current_submenu([atenciones_profesionales_path])%>">
            <%=link_to 'Atención Profesional', atenciones_profesionales_path %>
          </li>

          <li class="<%= current_submenu([historiales_fisioterapeuticos_path, historiales_fonoaudiologicos_path, historiales_psicopedagogicos_path,historiales_clinicos_path,historiales_neurologicos_path,historiales_pediatricos_path,historiales_odontologicos_path,historiales_nutricionales_path,welcome_index_historial_path])%>">
            <%= link_to "Historial Clínico", welcome_index_historial_path %>

          </li>

        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>