<!DOCTYPE html>
<html>
<head>
  <title>CENADE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

	<% if user_signed_in? %>
		<%= render "layouts/menu" %>

		<% unless @submenu_layout == nil %>
			<%= render @submenu_layout %>
		<% else %>
			<div class="line"></div>
		<% end %>

		<%= render 'layouts/modal' %>

	<% end %>

	<% unless @sidebar_layout == nil %>

		<div id="wrapper">
			<%= render @sidebar_layout, configuracion_general: @configuracion_general, turnos: @turnos %>

	        <div id="page-content-wrapper">

	            <div id="principal-content">
	            	<%= yield %>
	            </div>

	        </div>
	    </div>

   	<% else %>

	    <div id="principal-content">
			<%= yield %>
		</div>

	<% end %>

</body>
</html>

<script type="text/javascript">
  //- Esto no esta probado seriamente
  //- Con interfaces que trabajan con mucho ajax, si la sesión expira, los request ajax
  //- no envían ningún mensaje, lo siguiente hace que se redireccione a la página de
  //- login cuando la sesión expira
  /* Basado en: http://stackoverflow.com/questions/5460150/devise-with-rails-3-and-remote-true*/
  $(document).ajaxError(function(e, XHR, options){
      if (XHR.status == 401){
        //Si se quiere redireccionar al formulario de inicio de sesión
        //window.location.replace("<%= new_user_session_path %>");
        //Si solo se quiere mostrar un mensaje de alerta
        var n = noty({text: 'Tu sesión ha expirado. Por favor, recarga la página para iniciar sesión de nuevo', type: 'error'});
      }else {
          //Si se habilita lo siguiente, mostrará mensajes de error ante cualquier
          //falla de un request ajax, por lo que no conviene
          //var n = noty({text: 'Ha ocurrido un error. Por favor, intente recargar la página', type: 'error'});
      }
  });
</script>