<div id="sidebar-wrapper" style ="margin-top: 25px!important;">
    <ul class="sidebar-nav">
    	<div class= 'col-md-6'>
	    	<%if current_user.profile_foto.nil? %>
	    		<%image_tag("sinUsuario.png".to_s, :width => 100, :height => 100) %>
	    	<% else %>
	    		<%= image_tag(current_user.profile_foto_url.to_s, :width => 100, :height => 100) %>
	    		<label><%=current_user.username%></label>
	        <% end %>
      	</div></br>
      	<div>
	      <label><%= @persona.direccion %></label> 
	      <label><%= @persona.email %></label>
	      <label><%= @persona.telefono %></label>   	
      	</div>
    </ul>
</div>